---
title: Kontakt
published: true
slug: kontakt
listed: true
position: 6
---
{% extends parent %}

{% block header %}
{{ 'jquery.steps.min.js' | javascript_tag }}
{% endblock %}

{% block content/main/tab_pane %}
{% if contact.errors %}
.alert.alert-warning
  %strong {{ 'following_errors_occured' | translate }}:
  %ul
    {% for error in contact.errors %}
    {% unless error[0] == '_slug' %}
    %li
      {{ error[0] | prepend: 'contact_labels_' | translate }}
      &nbsp;
      {{ 'contact_label_is_required' | translate }}
    {% endunless %}
    {% endfor %}
{% endif %}

{% model_form 'contacts', class: 'form-horizontal', success: '/welcome' %}
%h2 Hiermit kontaktieren Sie das Institut {{ institute.name }}:
%br
.row
  .col-sm-6.col-xs-12
    %img.img-responsive{ src: '{{ information.image | resize: "645x" }}' }
    %br
  .col-sm-6.col-xs-12
    ParaMediForm {{ institute.name }}
    %br
    {{ institute.street }} {{ institute.streetnumber }}
    %br
    {{ institute.zip }} {{ institute.city }}
    %br
    %br
    {% if institute.phone != '' and institute.phone != null %}
    {{ "label_phone" | translate }} {{ institute.phone }}
    %br
    {% endif %}
    {% if institute.fax != '' and institute.fax != null %}
    {{ "label_fax" | translate }} {{ institute.fax }}
    %br
    {% endif %}
    {% if institute.email != '' and institute.email != null %}
    {{ institute.email }}
    %br
    {% endif %}
    %br

%legend Thema
.row{:style => "margin-bottom: 20px"}
  .col-sm-6.col-xs-12
    .radio
      %label
        %input{:type => "radio", :name => "content[subject]", :value => "Terminvereinbarung"} Terminvereinbarung
    .radio
      %label
        %input{:type => "radio", :name => "content[subject]", :value => "Fragen zur ParaMediForm-Methode"} Fragen zur Methode
  .col-sm-6.col-xs-12
    .radio
      %label
        %input{:type => "radio", :name => "content[subject]", :value => "Rückmeldung"} Rückmeldung
    .radio
      %label
        %input{:type => "radio", :name => "content[subject]", :value => "Paravita Beratung"} Paravita Beratung

%legend Absender
.row
  .col-sm-6.col-xs-12
    %select{ class: 'form-control', name: 'content[salutation]', placeholder: "Anrede" }
      {% for option in contents.contacts.salutation_options %}
      %option {{ option }}
      {% endfor %}
    %br
.row
  .col-sm-6.col-xs-12
    %input{:class => "form-control", :type => "text", :name => "content[surname]", :placeholder => "Vorname"}
  .col-sm-6.col-xs-12
    %input{:class => "form-control", :type => "text", :name => "content[lastname]", :placeholder => "Nachname"}
.row
  .col-sm-6.col-xs-12
    %input{:class => "form-control", :type => "text", :name => "content[address]", :placeholder => "Adresse"}
  .col-sm-6.col-xs-12
    %input{:class => "form-control", :type => "text", :name => "content[housenumber]", :placeholder => "Hausnummer"}
.row
  .col-sm-6.col-xs-12
    %input{:class => "form-control", :type => "text", :name => "content[zipcode]", :placeholder => "PLZ"}
  .col-sm-6.col-xs-12
    %input{:class => "form-control", :type => "text", :name => "content[place]", :placeholder => "Ort"}
.row
  .col-sm-6.col-xs-12
    %input{:class => "form-control", :type => "text", :name => "content[phone]", :placeholder => "Telefon"}
  .col-sm-6.col-xs-12
    %input{:class => "form-control", :type => "text", :name => "content[email]", :placeholder => "E-Mail"}
.row
  .col-sm-12.col-xs-12
    .checkbox
      %label
        %input{:type => "checkbox", :name => "content[existing_customer]"} Ich bin oder war bereits Kundin oder Kunde bei ParaMediForm.
    %br
%legend Nachricht
%textarea{:class => "form-control", :name => "content[message]", :value => "{{customer_message.name}}" } {{customer_message.message}}
%br
%legend Kontaktaufnahme
.radio
  %label
    %input{:type => "radio", :name => "content[type_of_contact]", :value => "E-Mail"} Bitte kontaktieren sie mich per E-Mail
.radio
  %label
    %input{:type => "radio", :name => "content[type_of_contact]", :value => "Telefon"} Bitte kontaktieren sie mich per Telefon
%br
.checkbox
  %label
    %input{:type => "checkbox", :name => "content[newsletter]", :checked => "yes"} Gerne erhalte ich auch in Zukunft Informationen von und über ParaMediForm.
%br
%br
.text-center
  %button{ :class => "btn btn-primary", :type => "submit"} Senden
%br
{% endmodel_form %}
%hr
{% endblock %}