---
title: Institut
published: true
slug: institute
listed: true
position: 2
handle: institute_home
---
{% extends parent %}

{% block content/main/tab_pane %}

.row
  .col-xs-12
    .thumbnail{:style =>"padding:10px !important"}
      {% if information.image.size > 0 %}
      %img.img-responsive{ src: '{{ information.image | resize: "645x" }}' }
      %br
      {% endif %}
      %h2 {{ information.institute_title }}
      %p{:style => "margin:0 0 20px"} {{ information.institute_description }}
      {% for institute_picture in information.institute_pictures %}
      .row
        .col-xs-12
          .img-box
            %a{ href: '{{ institute_picture.picture.url }}' }
              %img.img-responsive{ src: '{{ institute_picture.picture.url | resize: "630x" }}' }
          %p{:style => "text-align: center;margin-top:10px;margin-bottom:0px"} {{ institute_picture.description }}
          {% unless forloop.last %}
          %br
          {% endunless %}
      {% endfor %}
{% endblock %}