---
title: Aktuelles
slug: aktuelles
published: true
listed: true
position: 4
handle: institute_news
editable_elements:
  "content/sidebar/news": "false"
---
{% extends parent %}

{% block content/main/tab_pane %}

{% capture url %}{{ institute.url }}/{{locale}}/news/all.json?page={{ params.page }}&tag={{ params.tag | encode }}{% endcapture %}
{% consume data from url %}
{% assign news = data.news %}
{% assign news_pagination = data.pagination %}
{% endconsume %}

{% if params.slug and params.type %}

{% capture url %}{{ institute.url }}/{{locale}}/news/{{ params.type }}.json?slug={{ params.slug }}{% endcapture %}
{% consume data from url %}
{% assign this_news = data.news_entry %}
{% endconsume %}

{% include news_header %}

{% include generate_main_subnavigation with all:contents.news, this:this_news %}
{% include subnavigation_buttons with pagerstyle: "margin-top:0px" %}

{% if this_news.interview %}
{% include interview with news:this_news %}
{% elsif this_news.recipe %}
{% include recipe with news:this_news %}
{% elsif this_news.illustrative_text %}
{% include illustrative_text with news:this_news %}
{% else %}

/ # UNSUPPORTED
.well
  %h2 Unsupported type of news

{% endif %}

{% else %}

%ul.media-list
  {% if params.tag %}
  %div.text-center
    .tags.text-center{:style => "margin-bottom:5px"}
      %a.label.label-primary.tag{ href: "{{ path }}" } {{ params.tag }} X
  {% endif %}
  {% for news_entry in news %}
  .media
    .pull-right
      {{ news_entry.published_at | localized_date: '%d.%m.%Y' }}
    .media-body
      %h5
        %a{ href: "?slug={{ news_entry.slug }}&type={{ news_entry.type }}&page={{ params.page }}" } {{ news_entry.title }}
      {% if news_entry.tags %}
      .tags{:style => "margin:7px 7px;"}
        %span.glyphicon.glyphicon-tags
        &nbsp;
        {% for tag in news_entry.tags %}
        %a.label.label-primary.tag{ href: "?tag={{ tag }}" } {{ tag }}
        &nbsp;
        {% endfor %}
      {% endif %}
      .text
        {{ news_entry.text | truncate: 170 }}
    {% unless forloop.last %}
    %hr{:style => "margin-bottom:0px"}
    {% endunless %}
    {% if forloop.last %}
    %br
    {% endif %}
  {% endfor %}

  {% if news_pagination %}
  {% if params.tag == blank %}
  {% capture tag_params %}{% endcapture %}
  {% else %}
  {% capture tag_params %}&tag={{ params.tag | encode }}{% endcapture %}
  {% endif %}
  .text-center
    {% include pagination with pagination: news_pagination, other_params: tag_params %}

  {% endif %}

{% endif %}

{% endblock %}
