---
title: Erfolge
slug: erfolgsgeschichten
published: true
listed: true
position: 2
handle: institute_success_stories
---

{% extends parent %}

{% comment %}
{% block content/main/tab_pane %}
{% capture url %}{{ institute.url }}/{{locale}}/success-stories/all.json{% endcapture %}
{% consume data from url %}
{% assign success_stories = data.success_stories %}
{% endconsume %}

{% if params.slug %}

{% capture url %}{{ institute.url }}/{{locale}}/success-stories/one.json?slug={{ params.slug }}{% endcapture %}
{% consume data from url %}
{% assign success_story = data.success_story.first %}
{% endconsume %}

{% include generate_subnavigation with all:success_stories, this:success_story %}
{% include before_after_detail %}

{% else %}
/ by default, we display the list of success stories
.row
  {% if success_stories.size == 0 %}
  .col-sm-12.col-xs-12
    .p Herzlich willkommen bei PMF-{{ institute.name }}. Das Institut hat vor kurzem eröffnet, bald werden die ersten Erfolgsgeschichten für Sie aus PMF {{ institute.name }} erscheinen. 
    %br
  {% else %}
  {% for success_story in success_stories %}
  {% if success_story.prename != "" %}
  .col-sm-6.col-xs-12
    %a.non-link-style{ href: "?slug={{ success_story.slug }}&page={{ params.page }}" }
      {% include before_after_overview %}
  {% endif %}
  {% endfor %}
  .col-sm-12.col-xs-12
    {% include note %}
  {% endif %}
  
{% endif %}

{% endblock %}
{% endcomment %}


{% block share_meta_tags %}
{% if params.slug %}
{% capture url %}{{ institute.url }}/{{locale}}/success-stories/one.json?slug={{ params.slug }}{% endcapture %}
{% consume data from url %}
{% assign success_story = data.success_story.first %}
{% endconsume %}
%meta{:content => "Bravo, {{ success_story.prename | append: ' ' | append: success_story.name | append: ' -' | append: success_story.lost_weight | append: ' kg' }}", :property => "og:title"}
%meta{:content => "{{ success_story.experience | strip_html }}", :property => "og:description"}
%meta{:content => "website", :property => "og:type"}
%meta{:content => "{{ success_story.after_image.url }}", :property => "og:image"}
%meta{:content => "320", :property => "og:image:width"}
%meta{:content => "640", :property => "og:image:height"}
%meta{:content => "{{ url }}", :property => "og:url"}
{% endif %}
{% endblock %}

{% block title %}
{% if params.slug %}
{% capture url %}{{ institute.url }}/{{locale}}/success-stories/one.json?slug={{ params.slug }}{% endcapture %}
{% consume data from url %}
{% assign success_story = data.success_story.first %}
{% endconsume %}
%title
  ParaMediForm - {% if page.name %}{{ page.name }}{% else %}{{ page.title }}{% endif %} - Bravo {{ success_story.prename | append: ' ' | append: success_story.name | append: ' aus ' | append: success_story.place | append: ' hat ' | append: success_story.lost_weight | append: ' kg abgenommen' }}
%meta{name: "keywords", content: "{{ site.meta_keywords }} {{ page.meta_keywords }}"}/
{% else %}
%title
  ParaMediForm - {% if page.name %}{{ page.name }}{% else %}{{ page.title }}{% endif %} - {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ site.seo_title }}{% endif %}
%meta{name: "keywords", content: "{{ site.meta_keywords }} {{ page.meta_keywords }}"}/
{% endif %}
{% endblock %}

