---
title: Team
published: true
slug: team
listed: true
position: 4
handle: institute_team
---
{% extends parent %}
{% block title %}
%title
  Abnehmen {{ institute.name }}, so werden sie schlank!
{% endblock %}
{% block description %}
%meta{name:"description", content:"Abnehmen {{ institute.name }}, Ein Team stellt sich ganz in Ihren ernährungsberaterischen Dienst."}/
{% endblock %}
{% block content/main/title %}
%h1.title Abnehmen {{ institute.name }} - Team
{% endblock %}

{% block content/main/tab_pane %}

{% capture url %}{{ institute.url }}/{{locale}}/team-members/all.json{% endcapture %}
{% consume data from url %}
{% assign team_members = data.team_members %}
{% endconsume %}

%ul.media-list
  {% for member in team_members %}
  %br
  {% include person with person:member %}
  %hr
  {% endfor %}

{% endblock %}
