---
title: Team
published: true
slug: team
listed: true
position: 4
handle: institute_team
---
{% extends parent %}

{% block title %}
%title {{ 'institute_team_page_title' | t: institute_name: institute.name }}
{% endblock %}

{% block description %}
%meta{name:"description", content: "{{ 'institute_team_page_description' | t: institute_name: institute.name }}"}/
{% endblock %}

{% block content/main/title %}
%h1.title {{ 'institute_team_title' | t: institute_name: institute.name }}
{% endblock %}

{% block content/main/tab_pane %}

{% capture url %}{{ institute.url }}/team-members/all.json{% endcapture %}
{% consume data from url %}
{% assign team_members = data.team_members %}
{% endconsume %}

%ul.media-list
  {% for member in team_members %}
  %br
  {% include 'person' with member, person: member %}
  %hr
  {% endfor %}

{% endblock %}
