---
title: Team
published: true
slug: team
listed: true
position: 3
handle: institute_team
---
{% extends parent %}

{% block content/main/tab_pane %}

{% capture url %}{{ institute.url }}/{{locale}}/team-members/all.json{% endcapture %}
{% consume data from url %}
{% assign team_members = data.team_members %}
{% endconsume %}

%ul.media-list
  {% for member in team_members %}
  %br
  {% include person with person:member %}
  %hr
  {% endfor %}

{% endblock %}
