---
title: Kurven
published: true
slug: gewichtskurve
listed: true
position: 3
handle: institute_curve
---
{% extends parent %}


{% block description %}
%meta{name:"description", content:"{{ 'institute_weight_curve_page_description' | t: institute_name: institute.name }}"}/
{% endblock %}

{% block content/main/title %}
%h1.title {{ 'institute_weight_curve_title' | t: institute_name: institute.name }}
{% endblock %}

{% block content/main/tab_pane %}
{% capture url %}{{ institute.url }}/weight-curves/all.json{% endcapture %}
{% consume data from url %}
{% assign weight_curves = data.weight_curves %}
{% endconsume %}
.row
  .col-xs-12
    .thumbnail{:style =>"padding:10px !important"}
      %h2 {{ 'institute_weight_curve_status_title' | t: updated_at: weight_curves.first.updated_at }}
      .img-box{:style =>"padding-top:5px !important;padding-bottom:10px !important"}
        %a{ href: '{{ weight_curves.first.image.url }}' }
          %img.img-responsive{ src: '{{ weight_curves.first.image.url | resize: "630x" }}' }

      {{ 'institute_weight_curve_status_notification' | t }}
{% endblock %}
