---
title: Kurven
published: true
slug: gewichtskurve
listed: true
position: 2
---
{% extends parent %}

{% block content/main/tab_pane %}
.row
  .col-xs-12
    .thumbnail
      .img-box
        %a{ href: '{{ information.weight_curve }}' }
          %img.img-responsive{ src: '{{ information.weight_curve | resize: "630x" }}' }
      %br
      <b>Erklärung:</b> Die Gewichtskurve zeitg anonymisiert die Erfolge, aller sich aktuell im Programm befindlichen Personen. Eine Einheit nach rechts illustriert eine Woche und eine nach unten das verlorene Kilogramm. Diese Gewichtskurve wird im Anschluss an die Beratung gemeinsam nachgeführt.
      %br
{% endblock %}