---
title: Kurven
published: true
slug: gewichtskurve
listed: true
position: 3
---
{% extends parent %}

{% block content/main/tab_pane %}
{% capture url %}{{ institute.url }}/{{locale}}/weight-curves/all.json{% endcapture %}
{% consume data from url %}
{% assign weight_curves = data.weight_curves %}
{% endconsume %}
.row
  .col-xs-12
    .thumbnail{:style =>"padding:10px !important"}
      %h2 Gewichtskurve Stand {{ weight_curves.first.updated_at }}:
      .img-box{:style =>"padding-top:5px !important;padding-bottom:10px !important"}
        %a{ href: '{{ weight_curves.first.image.url }}' }
          %img.img-responsive{ src: '{{ weight_curves.first.image.url | resize: "630x" }}' }
      <b>Erklärung:</b> Die Gewichtskurve zeitg anonymisiert die Erfolge, aller sich aktuell im Programm befindlichen Personen. Eine Einheit nach rechts illustriert eine Woche und eine nach unten das verlorene Kilogramm. Diese Gewichtskurve wird im Anschluss an die Beratung gemeinsam nachgeführt.
{% endblock %}