---
title: Kurven
published: true
slug: gewichtskurve
listed: true
position: 3
handle: institute_curve
---
{% extends parent %}
{% block description %}
%meta{name:"description", content:"Die Gewichtskurve aus {{ institute.name }} stellt den Erfolg der Ern채hrungsberatung grafisch dar."}/
{% endblock %}
{% block content/main/title %}
%h1.title Ern채hrungsberatung {{ institute.name }} - Gewichtskurve
{% endblock %}

{% block content/main/tab_pane %}
{% capture url %}{{ institute.url }}/{{locale}}/weight-curves/all.json{% endcapture %}
{% consume data from url %}
{% assign weight_curves = data.weight_curves %}
{% endconsume %}
.row
  .col-xs-12
    .thumbnail{:style =>"padding:10px !important"}
      %h2 Gewichtskurve Stand {{ weight_curves.first.updated_at }}:
      .img-box{:style =>"padding-top:5px !important;padding-bottom:10px !important"}
        %a{ href: '{{ weight_curves.first.image.url }}' }
          %img.img-responsive{ src: '{{ weight_curves.first.image.url | resize: "630x" }}' }
      <b>Erkl채rung:</b> Die Gewichtskurve zeigt anonymisiert die Erfolge, aller sich aktuell im Programm befindlichen Personen. Eine Einheit nach rechts illustriert eine Woche und eine nach unten das verlorene Kilogramm. Diese Gewichtskurve wird im Anschluss an die Beratung gemeinsam nachgef체hrt.
{% endblock %}