%div
  .thumbnail
    %img{ src: '{{ success_story.before_image.url | resize: "640x1280#" }}', :style => "float:left;max-width:50%", alt: "{{ success_story.prename | strip_html }} {{ success_story.name | strip_html }} aus {{ success_story.place | strip_html }} vor dem Abnehmen mit ParaMediForm" }
    %img{ src: '{{ success_story.after_image.url | resize: "640x1280#" }}', :style => "float:left;max-width:50%", alt: "{{ success_story.prename | strip_html }} {{ success_story.name | strip_html }} aus {{ success_story.place | strip_html }} nach dem Abnehmen mit ParaMediForm" }
    .clearfix