%div
  .thumbnail{:style => "padding-bottom:0px !important"}
    %img{ src: '{{ success_story.before_image.url | resize: "400x800#" }}', :style => "float:left;max-width:50%" }
    %img{ src: '{{ success_story.after_image.url | resize: "400x800#" }}', :style => "float:left;max-width:50%" }
    .clearfix
    %table{:style => "height:6ex;margin-left:auto;margin-right:auto"}
      %tr
        %td.text-center
          %span{:style => "font-size:14px"} {{ success_story.prename | append: " " | append: success_story.name | append: " aus " | append: success_story.place | append: " -" | append: success_story.lost_weight | append: " Kg" }} 