{% assign prename = success_story.prename %}
{% assign name = success_story.name %}
{% assign place = success_story.place %}
{% assign lost_weight = success_story.lost_weight %}
%div
  .thumbnail{:style => "padding-bottom:0px !important"}
    %img{ src: '{{ success_story.before_image.url | resize: "200x400#" }}', :style => "float:left;max-width:50%", alt: "{{ 'snippet_before_after_overview_before_image_alt' | t: prename: prename, name: name, place: place | strip_html }}" }
    %img{ src: '{{ success_story.after_image.url | resize: "200x400#" }}', :style => "float:left;max-width:50%", alt: "{{ 'snippet_before_after_overview_after_image_alt' | t: prename: prename, name: name, place: place | strip_html }}" }
    .clearfix
    %table{:style => "height:6ex;margin-left:auto;margin-right:auto"}
      %tr
        %td.text-center
          %span{:style => "font-size:14px"} {{ 'snippet_before_after_overview_text' | t: prename: prename, name: name, place: place, lost_weight: lost_weight }}
