{% assign prename = success_story.prename %}
{% assign name = success_story.name %}
{% assign place = success_story.place %}
{% assign lost_weight = success_story.lost_weight %}

%div
  %h2.story_title {{ 'snippet_before_after_detail_title' | t: prename: prename, name: name, place: place, lost_weight: lost_weight }}

  .thumbnail{:style => "padding:20px !important"}
    .doubleimg-box#doubleimg
      %a{ vorsrc: '{{ success_story.before_image.url }}', nachsrc: '{{ success_story.after_image.url }}' }
        .img-box
          %img{ src: '{{ success_story.before_image.url | resize: "345x690#" }}', :style => "float:left;max-width:50%", alt: "{{ 'snippet_before_after_detail_before_image_alt' | t: prename: prename, name: name, place: place | strip_html }}" }
        .img-box
          %img{ src: '{{ success_story.after_image.url | resize: "345x690#" }}', :style => "float:left;max-width:50%", alt: "{{ 'snippet_before_after_detail_after_image_alt' | t: prename: prename, name: name, place: place | strip_html }}" }
    .clearfix
    %br
    {% include subnavigation_buttons %}
    .text-center
      %br
      %script{:async => "async", :src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-547f2f7b7c2d7fa0", :type => "text/javascript"}
      .addthis_sharing_toolbox
      %br
    .story_title{:style => "text-weight:bold;margin-bottom:20px"}{{ success_story.experience_title }}
    {% if (success_story.start_date != nil and success_story.start_date != '') and (success_story.programm_duration != nil and success_story.programm_duration != '') and (success_story.number_of_consultations != nil and success_story.number_of_consultations != '') and (success_story.feeling_of_abdiction != nil and success_story.feeling_of_abdiction != '') %}
    %table.round-corner-table{:style => "width:100%;background-color:#FFF6FC"}
      %tr
        %td  &nbsp;
      {% if success_story.start_date != nil and success_story.start_date != '' %}
      %tr
        %td.text-center{:style => "width:10%"}
          %span.pink_text.glyphicon.glyphicon-play-circle
        %td{:style => "width:35%"}
          {{ 'snippet_before_after_detail_program_start' | t }}
        %td{:style => "width:55%"}
          {{ success_story.start_date | localized_date: '%d.%m.%Y' }}
      {% endif %}
      {% if success_story.programm_duration != nil and success_story.programm_duration != '' and success_story.programm_duration > 0 %}
      %tr
        %td.text-center{:style => "width:10%"}
          %span.pink_text.glyphicon.glyphicon-time
        %td{:style => "width:35%"}
          {{ 'snippet_before_after_detail_program_duration' | t }}
        %td{:style => "width:35%"}
          {{ success_story.programm_duration }} {{ 'snippet_before_after_detail_weeks' | t }}
      {% endif %}
      {% if success_story.number_of_consultations != nil and success_story.number_of_consultations != '' %}
      %tr
        %td.text-center{:style => "width:10%"}
          %span.pink_text.glyphicon.glyphicon-dashboard
        %td{:style => "width:35%"}
          {{ 'snippet_before_after_detail_support' | t }}
        %td{:style => "width:35%"}
          {{ success_story.number_of_consultations  }} {{ 'snippet_before_after_detail_ending_at' | t }}
      {% endif %}
      {% if success_story.feeling_of_abdiction != nil and success_story.feeling_of_abdiction != '' %}
      %tr{:style => "vertical-align:top"}
        %td.text-center{:style => "width:10%"}
          %span.pink_text.glyphicon.glyphicon-eye-open
        %td{:style => "width:35%"}
          {{ 'snippet_before_after_detail_observations' | t }}
        %td{:style => "width:35%"}
          {{ success_story.feeling_of_abdiction }}
      {% endif %}
      %tr
        %td  &nbsp;
    %br
    {% endif %}
    {{ success_story.experience }}
