//{% nav site, exclude: '^(layouts)', depth: 4, no_wrapper: true %}
.col-sm-12.col-xs-12{:style => "padding-left:0px"}
  .footer{:style => "color:gray !important"}
    © {{ now | date: "%Y" }} ParaMediForm AG
    %br
    %a{:href => "/impressum"} Impressum 
    &nbsp; 
    %a{:href => "/rechtliche-hinweise"} Rechtliche Hinweise 
    &nbsp; 
    %a{:href => "/nutzungsbedingungen"} Nutzungsbedingungen 
    &nbsp; 
    %a{:href => "/urheberrecht"} Urheberrecht 
    &nbsp; 
    %a{:href => "/disclaimer"} Disclaimer
    &nbsp; 
    %a{:href => "https://www.webland.ch/de-ch/Logins", :rel => "nofollow"} E-Mail login