{% assign before_url = null %}
{% assign after_url = null %}
{% assign before = true %}
{% for one in all %}
{% if one.slug == this.slug %}
{% assign before = false %}	
{% else %}
{% if before %}
{% assign before_url = "?slug=" | append: one.slug | append: "&type=" | append: one.type | append: "&page=" | append: params.page %}
{% else %}
{% if after_url == null %}
{% assign after_url = "?slug=" | append: one.slug | append: "&type=" | append: one.type | append: "&page=" | append: params.page %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}