{% assign illustrative_text = news.illustrative_text %}
%br
.row
  .col-xs-12
    .thumbnail
      .img-box
        %a{ href: '{{ illustrative_text.image.url }}' }
          %img.img-responsive{ src: '{{ illustrative_text.image.url | resize: "900x240#" }}' }    
.columnize
  .row
    .col-xs-12
      .text-justify
        {{ news.text }}