%br
{% if illustrative_text.image.size > 0 %}
.row
  .col-xs-12
    .thumbnail
      .img-box
        %a{ href: '{{ illustrative_text.image.url }}' }
          %img.img-responsive{ src: '{{ illustrative_text.image.url | resize: "900x400#" }}', alt: "{{ illustrative_text.title }}" }
{% endif %}
.columnize
  .row
    .col-xs-12
      .text-justify
        {{ illustrative_text.text }}
