%br
{% assign interview = news.interview %}
.columnize
  {% if interview.person %}
  {% include interview_person with person:interview.person %}
  {% endif %}
  {% for question in interview.questions %}
  %h5{:style => "padding-bottom:10px"} {{ question.question }}
  .text
    {{ question.answer }}
  {% unless forloop.last %}
  %hr
  {% endunless %}
  {% endfor %}
%br
%hr
%br