{% if interview.image.size > 0 %}
.thumbnail
  .img-box
    %a{ href: '{{ interview.image.url }}' }
      %img.img-responsive{ src: '{{ interview.image.url | resize: "900x380#" }}', alt: "{{ interview.title }}" }
{% endif %}
%br
.columnize
  {% if interview.person %}
  {% unless interview.image.size > 0 %}
  {% include interview_person with person:interview.person %}
  %hr
  {% endunless %}
  {% endif %}
  {% for question in interview.questions %}
  %h5{:style => "padding-bottom:10px"} {{ question.question }}
  .text
    {{ question.answer }}
  {% if forloop.first and interview.person and interview.image.size > 0 %}
  %hr
  {% include interview_person with interview.person, person: interview.person %}
  {% endif %}
  {% unless forloop.last %}
  %hr
  {% endunless %}
  {% endfor %}
