{% assign interview = news.interview %}

{% include news_header %}

.row
  .col-sm-4.col-xs-12
    %br
    {% if interview.person %}
    {% include interview_person with person:interview.person %}
    {% endif %}
  .col-sm-8.col-xs-12
    {% for question in interview.questions %}
    %h5 {{ question.question }}
    .text.text-justify
      {{ question.answer }}
    %hr
    {% endfor %}
