.media
  .media-body
    .img-box
      %a{ href: '{{ person.picture.url }}' }
        %img.img-responsive.media-object{ src: '{{ person.picture.url | resize: "130x180#" }}' }
        %br
    %h4.media-heading.text-center{:style => "padding-bottom:0;font-style:italic"} {{ person.name }}
    .text-center{:style => "font-style:italic"} {{ person.title }}