{% paginate contents.news by 3 %}
%ul.media-list
  {% for news_entry in paginate.collection %}
  {% assign hideit = 0 %}
  {% if news_entry.interview %}
  {% assign type = "interview" %}
  {% if news_entry.interview.image != null %}
  {% assign preview_image = news_entry.interview.image %}
  {% else %}
  {% assign preview_image = news_entry.interview.person.picture %}
  {% endif %}
  {% elsif news_entry.illustrative_text %}
  {% assign type = "illustrative_text" %}
  {% assign preview_image = news_entry.illustrative_text.image %}
  {% elsif news_entry.recipe %}
  {% assign type = "recipe" %}
  {% assign preview_image = news_entry.recipe.image %}
  {% if news_entry.recipe.activity.attr == "versteckt" %}
  {% assign hideit = 1 %}
  {% endif %}
  {% endif %}
  {% if hideit == 0 %}
  .media
    {{ news_entry.published_at | localized_date: '%d.%m.%Y' }}
    %h5{:style => "margin-top:0"}
      %a{ href: "{% path_to 'news' %}?slug={{ news_entry._slug }}&type={{ type }}&page={{ params.page }}" } {{ news_entry.title }}
    .text
      {{ news_entry.text | truncate: 170 }}
    {% unless forloop.last %}
    %hr{:style => "margin-bottom:0px"}
    {% endunless %}
    {% if forloop.last %}
    %br
    {% endif %}
  {% endif %}
  {% endfor %}
{% endpaginate %}
