{% paginate contents.news by 10 %}
%ul.media-list
  {% if params.tag %}
  %div.text-center
    .tags.text-center{:style => "margin-bottom:5px;margin-top:1px"}
      %a.label.label-primary.tag.filtered_tag{ href: "{{ path }}" } {{ params.tag }}:
  {% endif %}
  {% for news_entry in paginate.collection %}
  {% assign hideit = 0 %}
  {% if news_entry.interview %}
  {% assign type = "interview" %}
  {% if news_entry.interview.image != null %}
  {% assign preview_image = news_entry.interview.image %}
  {% else %}
  {% assign preview_image = news_entry.interview.person.picture %}
  {% endif %}
  {% elsif news_entry.illustrative_text %}
  {% assign type = "illustrative_text" %}
  {% assign preview_image = news_entry.illustrative_text.image %}
  {% elsif news_entry.recipe %}
  {% assign type = "recipe" %}
  {% assign preview_image = news_entry.recipe.image %}
  {% if news_entry.recipe.activity.attr == "versteckt" %}
  {% assign hideit = 1 %}
  {% endif %}
  {% endif %}
  {% if hideit == 0 %}
  .media
    .pull-right
      {{ news_entry.published_at | localized_date: '%d.%m.%Y' }}
    .media-body
      %h5{:style => "margin-top:0"}
        %a{ href: "?slug={{ news_entry._slug }}&type={{ type }}&page={{ params.page }}" } {{ news_entry.title }}
      {% if news_entry.tags %}
      .tags{:style => "margin:7px 7px;"}
        %span.glyphicon.glyphicon-tags
        &nbsp;
        {% for tag in news_entry.tags %}
        %a.label.label-primary.tag{ href: "?tag={{ tag }}" } {{ tag }}
        &nbsp;
        {% endfor %}
      {% endif %}
      .thumbnail{:style => "width:160px;float:left;margin-right:20px"}
        %img.img-responsive{ src: '{{ preview_image | resize: "160x100#" }}' }
      .text
        {{ news_entry.text | truncate: 170 }}
    {% unless forloop.last %}
    %hr{:style => "margin-bottom:0px"}
    {% endunless %}
    {% if forloop.last %}
    %br
    {% endif %}
  {% endif %}
  {% endfor %}
  
  {% if paginate.total_pages != 1 %}
  {% if params.tag == blank %}
  {% capture tag_params %}{% endcapture %}
  {% else %}
  {% capture tag_params %}&tag={{ params.tag | encode }}{% endcapture %}
  {% endif %}
  .text-center
    {% include pagination with pagination: paginate, other_params: tag_params %}
  {% endif %}
  
{% endpaginate %}