/ TAGS + DATE
%h2 {{ this_news.title }}
.pull-right
  {{ this_news.published_at | localized_date: '%d.%m.%Y' }}
{% if this_news.tags %}
.tags
  %span.glyphicon.glyphicon-tags
  &nbsp;
  {% for tag in this_news.tags %}
  %a.label.label-primary.tag{ href: "?tag={{ tag }}" } {{ tag }}
  &nbsp;
  {% endfor %}
{% endif %}
%b
  %p.text-justify {{ this_news.text }}