{% assign recipe = news.recipe %}
.thumbnail
  .img-box
    %a{ href: '{{ recipe.image.url }}' }
      %img.img-responsive{ src: '{{ recipe.image.url | resize: "900x380#" }}' }
.row
  .col-sm-6.col-xs-12
    / INGREDIENTS
    %table.table
      %thead
        %tr
          %th{:style => "padding:2px 8px;text-align:center"} Menge
          %th{:style => "padding:2px 8px"} Zutat
      %tbody
        {% for ingredient in recipe.ingredients %}
        %tr
          %td{:style => "padding:2px 8px;text-align:center"}
            {{ ingredient.amount }} {{ ingredient.unit }}
          %td{:style => "padding:2px 8px"}
            {{ ingredient.name }}
        {% endfor %}
  .col-sm-6.col-xs-12
    / PREPARATION
    %br
    {{ recipe.preparation }}
