{% comment %}
/ input:
/   - process indexed_contents, pages, illustrative_texts, interviews (+ questions), recipes (+ ingredients)
/
/   - result
/   - slug
/   - highlighted_title
/   - highlighted_content
{% endcomment %}

{% with_scope _slug: slug %}
{% assign indexed_content = contents.indexed_contents.first %}
{% endwith_scope %}

{% if indexed_content %}
.media-body
  %h4.media-heading
    %a{ href: '{{ indexed_content.url }}' }
      {% if highlighted_title.size > 0 %}
      %span.highlighted
        {{ highlighted_title }}
      {% else %}
      {{ indexed_content.title }}
      {% endif %}
  .media-content
    {% if highlighted_content.size > 0 %}
    %span.highlighted
      {{ highlighted_content | default: '' }}
    {% else %}
    {{ indexed_content.content | strip_html | truncate: 100 }}
    {% endif %}
    %br

{% else %}

{% if result.searchable_content %}

.media-body
  %h4.media-heading
    %a{ href: '{{ result.fullpath }}' }
      {% if result.highlighted.title.size > 0 %}
      %span.highlighted {{ result.highlighted.title }}
      {% else %}
      {{ result.title }}
      {% endif %}
  .media-content
    {% if result.highlighted.searchable_content.size > 0 %}
    %span.highlighted {{ result.highlighted.searchable_content }}
    {% else %}
    {{ result.searchable_content | strip_html | truncate: 100 }}
    {% endif %}
    %br

{% elsif result.content_type_slug == 'illustrative_texts' %}

{% with_scope _slug: result._slug %}{% assign illustrative_text = contents.illustrative_texts.first %}{% endwith_scope %}
{% assign news = illustrative_text.news.first %}

.media-body
  %h4.media-heading
    %a{ href: '{% path_to "news" %}?type=illustrative_text&slug={{ news._slug }}' }
      {% if highlighted_title.size > 0 %}
      %span.highlighted {{ result.highlighted.title }}
      {% else %}
      {{ result.title }}
      {% endif %}
  .media-content
    {% if result.highlighted.text.size > 0 %}
    %span.highlighted {{ result.highlighted.text }}
    {% else %}
    {{ result.text | strip_html | truncate: 100 }}
    {% endif %}
    %br

{% elsif result.content_type_slug == 'interviews' %}

{% with_scope _slug: result._slug %}{% assign interview = contents.interviews.first %}{% endwith_scope %}
{% assign news = interview.news.first %}

.media-body
  %h4.media-heading
    %a{ href: '{% path_to "news" %}?type=interview&slug={{ news._slug }}' }
      {% if result.highlighted.title.size > 0 %}
      %span.highlighted {{ result.highlighted.title }}
      {% else %}
      {{ result.title }}
      {% endif %}

{% elsif result.content_type_slug == 'interview_questions' %}

{% with_scope _slug: result._slug %}{% assign interview = contents.interview_questions.first.interview %}{% endwith_scope %}
{% assign news = interview.news.first %}

.media-body
  %h4.media-heading
    %a{ href: '{% path_to "news" %}?type=interview&slug={{ news._slug }}' }
      {% if result.highlighted.question.size > 0 %}
      %span.highlighted {{ result.highlighted.question }}
      {% else %}
      {{ result.question }}
      {% endif %}
  .media-content
    {% if result.highlighted.answer.size > 0 %}
    %span.highlighted {{ result.highlighted.answer }}
    {% else %}
    {{ result.answer | strip_html | truncate: 100 }}
    {% endif %}
    %br

{% elsif result.content_type_slug == 'recipes' %}

{% with_scope _slug: result._slug %}{% assign recipe = contents.recipes.first %}{% endwith_scope %}
{% assign news = recipe.news.first %}

.media-body
  %h4.media-heading
    %a{ href: '{% path_to "news" %}?type=recipe&slug={{ news._slug }}' }
      {% if result.highlighted.title.size > 0 %}
      %span.highlighted {{ result.highlighted.title }}
      {% else %}
      {{ result.title }}
      {% endif %}
  .media-content
    {% if result.highlighted.preparation.size > 0 %}
    %span.highlighted {{ result.highlighted.preparation }}
    {% else %}
    {{ result.preparation | strip_html | truncate: 100 }}
    {% endif %}
    %br

{% elsif result.content_type_slug == 'recipe_ingredients' %}

{% with_scope _slug: result._slug %}{% assign recipe = contents.recipe_ingredients.first.recipe %}{% endwith_scope %}
{% assign news = recipe.news.first %}

.media-body
  %h4.media-heading
    %a{ href: '{% path_to "news" %}?type=recipe&slug={{ news._slug }}' }
      {% if result.highlighted.name.size > 0 %}
      %span.highlighted {{ result.highlighted.name }}
      {% else %}
      {{ result.name }}
      {% endif %}

{% endif %}

%hr

{% endif %}