%h1{:style => "padding-left:0"} {% editable_text "Haupttitel", priority:"30", format: "raw", line_break: false, rows: 1 %}Franchisingbeirat: Gemeinsam Synergien nutzen{% endeditable_text %}
.paddingactive
  %b {% editable_text "Einleitung", priority:"29", format: "raw", hint: "Kurzbeschrieb, welcher auf der Seite Fett abgedruckt wird" %}Der Beirat besteht aus mehreren demokratisch gewählten Institutsleitern und vertritt in der Systemzentrale die Interesse der einzelnen Institute.{% endeditable_text %}