%h1{:style => "padding-left:0;padding-bottom:15px"} {% editable_text "Haupttitel", priority:"30", format: "raw", line_break: false, rows: 1 %}{% endeditable_text %}
%div{:style => "padding-bottom:30px"}
  %b {% editable_text "Einleitung", priority:"29", format: "raw", hint: "Kurzbeschrieb, welcher auf der Seite Fett abgedruckt wird" %}{% endeditable_text %}