{% if text.size > 0 %}{{ text }}{% endif %}
{% if image.size > 0 %}
.thumbnail
  .img-box
    %a{ href: "{{ image }}", :style => "padding:0px" }
      %img.img-responsive{ src: "{{ image | resize: '900x200#' }}" }
{% endif %}
