%h2 {% editable_text "Titel", format: raw, rows: 1 %}Essen Sie sich schlank Paramediform hilft Ihnen dabei!{% endeditable_text %} 
%p
  %b {% editable_text "Beschreibung", format: raw %}Wir von Paramedifrom begleiten Sie bis zu Ihrem Wunschgewicht und darüber hinaus. Dank individuell zugeschnittenem Ernährungsplan, regelmässiger Betreuung und Kontrolle nehmen auch Sie ab, denn so ergings bereits tausenden vor Ihnen.{% endeditable_text %}
%p {% editable_text "Text", format: raw %}Wir von Paramedifrom begleiten Sie bis zu Ihrem Wunschgewicht und darüber hinaus. Dank individuell zugeschnittenem Ernährungsplan, regelmässiger Betreuung und Kontrolle nehmen auch Sie ab, denn so ergings bereits tausenden vor Ihnen.{% endeditable_text %}