---
title: Erfolge
slug: erfolgsgeschichten
published: true
listed: true
position: 1
handle: institute_success_stories
editable_elements:
  "content/sidebar/news": "false"
---

{% extends parent %}

{% block content/main/tab_pane %}

{% capture url %}{{ institute.url }}/{{ locale }}/success-stories/all.json{% endcapture %}
{% consume data from url %}
{% assign success_stories = data.success_stories %}
{% endconsume %}

{% if params.slug %}

{% capture url %}{{ institute.url }}/{{ locale }}/success-stories/one.json?slug={{ params.slug }}{% endcapture %}
{% consume data from url %}
{% assign success_story = data.success_story.first %}
{% endconsume %}

{% include generate_subnavigation with all:success_stories, this:success_story %}
{% include before_after with display_text: true, text_size: "font-size:14px", display_experience: true %}

{% else %}
/ by default, we display the list of success stories
.row
  {% for success_story in success_stories %}
  .col-sm-6.col-xs-12
    %a.non-link-style{ href: "?slug={{ success_story.slug }}&page={{ params.page }}" }
      {% include before_after with display_text: true, text_size: "font-size:14px" %}
  {% endfor %}

{% endif %}

{% endblock %}