---
title: Erfolgsgeschichten
slug: erfolgsgeschichten
published: true
listed: true
position: 1
handle: institute_success_stories
editable_elements:
  "content/sidebar/news": "false"
---

{% extends parent %}

{% block content/main/tab_pane %}

{% if params.slug %}

{% capture url %}{{ institute.url }}/{{ locale }}/success_stories/one.json?slug={{ params.slug }}{% endcapture %}
{% consume data from url %}
{% assign success_story = data.success_story.first %}
{% endconsume %}

%ul.pager
  %li.previous
    %a{ href: "?page={{ params.page }}" } &larr; {{ "button_back" | translate }}

{% include before_after with display_text: true, text_size: "font-size:14px" %}

{% else %}
/ by default, we display the list of success stories
{% capture url %}{{ institute.url }}/{{ locale }}/success_stories/all.json{% endcapture %}
{% consume data from url %}
{% assign success_stories = data.success_stories %}
{% endconsume %}
.row
  {% for success_story in success_stories %}
  .col-sm-6.col-xs-12
    %a{ href: "?slug={{ success_story.slug }}&page={{ params.page }}" }
      {% include before_after with display_text: true, text_size: "font-size:14px" %}
  {% endfor %}
  
{% endif %}

{% endblock %}