---
title: Team
published: true
slug: team
listed: true
position: 2
handle: institute_team
---
{% extends parent %}

{% block content/main/tab_pane %}

{% capture url %}{{ institute.url }}/{{ locale }}/team-members/all.json{% endcapture %}
{% consume data from url %}
{% assign team_members = data.team_members %}
{% endconsume %}

%ul.media-list
  {% for member in team_members %}
  .media
    .pull-left
      %img.media-object{ src: '{{ member.picture.url | resize: "100x100#" }}' }
    .media-body
      %h5.media-heading {{ member.name }}
      {{ member.title }}
  {% endfor %}

{% endblock %}
