#content {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  //background-color:#FFF6FF;
}

.non-link-style{
	color: inherit !important;
	text-decoration: none !important;
}

.story_title{
	font-weight: bold;
	font-size: 18px;
}

.paddingbox{
	a, p, h1, h2, h3, h4, h5, h6{
		padding: 10px;
	}
} 