#content {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  //background-color:#FFF6FF;
}

.non-link-style{
	color: inherit !important;
	text-decoration: none !important;
}

.story_title{
	font-weight: bold;
	font-size: 18px;
}