#content {
  padding-bottom: 20px;
  position: relative;
  //background-color:#FFF6FF;
}

#main{
	padding-left: 30px;
	padding-right: 30px;
}

.non-link-style{
	color: inherit !important;
	text-decoration: none !important;
}

.story_title{
	font-weight: bold;
	font-size: 18px;
}

.paddingbox{
	a, p, h1, h2, h3, h4, h5, h6{
		padding: 10px;
	}
}

.highlighted {
	em {
		font-weight: bold;
		font-style: normal;
	}
}

.img_center_vertically{
	position: absolute;
	    margin: auto;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
}

.no-padding-left{
	-moz-padding-start: 0px;
	-webkit-padding-start: 0px;
	-khtml-padding-start: 0px;
	-o-padding-start: 0px;
	padding-start: 0px;
	padding-left: 0px;
}

.title{
	margin-bottom:25px;
}
