$logo_margin: 2%;

#header {
	padding-bottom: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.small_navbar_height, .small_navbar_height li, .small_navbar_height li a{
	height:1px;
}

.atmospereic{
	position: absolute;
	width: 100%;
	opacity:0.5;
}

.relative_position{
	position: relative;
}

.img-responsive {
    margin: 0 auto;
}

#logo_img{
	margin-top:30px;
}