@import "compass";
@import "elements/header";
@import "elements/content";

$navbar-default-bg: #F83CA4;

.alert-warning{
	background-color: #FFE6E6 !important;
	border-color: red !important;
	color: red !important;
}

.alert-success{
	background-color: #EBFFE8 !important;
	border-color: #3c763d !important;
	color: #3c763d !important;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
 	-ms-border-radius: $radius;
	border-radius: $radius;
}

h1{
	font-size: 23px !important;
	margin-top: 0px !important;
}

h2{
	font-size: 20px !important;
	margin-top: 0px !important;
}

h3{
	font-size: 17px !important;
	margin-top: 0px !important;
}

h4{
	font-size: 14px !important;
	margin-top: 0px !important;
}

.success_story_images{
    margin-left: auto;
    margin-right: auto;
}

div.detailed_institute_info p{
	margin:0px;
}

#institutes_map{
	position: relative;
}

#institutes_map img{
	display: inline-block;
}

#institutes_map a{
	position: absolute;
	top:0px;
	left:0px;
	font-size: 5px;
	text-decoration: none;
	color: #F83CA4;	
}

#institute_subnavigation a{
	//line-height:40px;
	//margin-right:5em
}

@media only screen and (max-width : 480px) {
	.nav > li > a{
		padding: 10px 5px !important;
	}
	.columnize{
	    -webkit-column-count: 1;
	       -moz-column-count: 1;
	            column-count: 1;

	    -webkit-column-gap: 20px;
	       -moz-column-gap: 20px;
	            column-gap: 20px;
	}
}

@media only screen and (min-width : 280px) {
	#institutes_map a{
		font-size: 7px !important;
	}
}

@media only screen and (min-width : 480px) {
	#institutes_map a{
		font-size: 9px !important;
	}
	
	.columnize{
	    -webkit-column-count: 2;
	       -moz-column-count: 2;
	            column-count: 2;

	    -webkit-column-gap: 20px;
	       -moz-column-gap: 20px;
	            column-gap: 20px;
	}
		
}

@media only screen and (max-width : 768px) {	
	.columnize3col{
	    -webkit-column-count: 2;
	       -moz-column-count: 2;
	            column-count: 2;

	    -webkit-column-gap: 20px;
	       -moz-column-gap: 20px;
	            column-gap: 20px;
	}
}

@media only screen and (min-width : 768px) {
	#institutes_map a{
		font-size: 10px !important;
	}
	#institute_subnavigation a{
		margin: 0px 0px;
	}	
	
	.columnize3col{
	    -webkit-column-count: 3;
	       -moz-column-count: 3;
	            column-count: 3;

	    -webkit-column-gap: 20px;
	       -moz-column-gap: 20px;
	            column-gap: 20px;
	}
	
	.wellshopitem{
		min-height: 570px !important;
	}
	
}

@media only screen and (min-width : 992px) {
	#institutes_map a{
		font-size: 11px !important;
	}
}

.tooltipsy{
    padding: 5px 10px;
    max-width: 200px;
    color: white;
    //background-color: #f5f5b5;
	background-color: $navbar-default-bg;
    border: 1px solid darken($navbar-default-bg, 12%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-shadow: none;
	@include border-radius(5px);
}

#sidebar{
	position: relative;
}

#bs-example-navbar-collapse-1 a{
	font-size: 15px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.dropdown-menu a{
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: 1.42857 !important;
}

#logo_img{
	//margin-top: 30px;
	margin-top: 0px;
}

.navbar{
	margin-bottom: 0px !important;
}

.navbar-toggle{
	margin-right: 0px !important;
	//background-color: white !important;
}

.thumbnail{
	background-color: transparent !important;
	padding: 5px !important;
}

.image_with_background{
    border: 1px solid #CBCBCB;
	padding: 5px;
	@include border-radius(5px);
}

.pink_text{
	color:$navbar-default-bg;
}

.round-corner-table{
	@include border-radius(7px);
}

#lightbox {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
}

#lightbox img {
  max-width: 100%;
  max-height: 100%;
}

#lightbox p {
  background-color: $navbar-default-bg;
  color: #fff;
}

//Correction to strengthen boarder of nav
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-width: 1px !important;
    border-color: #DDD #DDD transparent !important;
}

.nav-tabs > li {
    margin-bottom: -1px !important;
}

.nav-tabs {
    border-bottom: 1px solid #DDD !important;
}

.nav-pills{
	overflow-x:hidden;
	white-space:nowrap; 
}
.nav-pills a{
	font-size: 15px;
}

.nav-pills li:first-child a{
	padding-left:0px !important;
}

.navbar-nav.nav-justified > li{
    float:none;
}

ul.dropdown-menu{
	text-align: center;
}

input.form-control{
	margin-bottom:15px;
}

form.form-horizontal{
	padding:20px;
	border: 1px solid #CBCBCB;
	@include border-radius(5px);
}

legend{
	font-size: 14px !important;
	color: #F83CA4 !important;
	border-bottom: 1px solid #F83CA4 !important;
}


.doublecolumn{
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;

    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}

#indicator{
	color:#F83CA4;
}

.tags{
	margin-top:10px;
	margin-bottom:10px;
}

.nav li.on a{
	color: #7d0447 !important;
}

.textpadding h1, .textpadding h3, .textpadding div.paddingactive, img.textpadding{
	padding-bottom: 15px;
}

.label{
	display:inline-block !important;
	margin-bottom: 4px !important;
}

.footer a{
	color: gray;
}

body{
	background-image: url("/images/hintergrundbild.png");
	background-repeat: repeat-x;
}

.fixed_title{
	text-align: center;
	height: 35px;
}

.vspacer{
	margin-top: 10px !important;
	margin-bottom: 35px !important;
}

.filtered_tag{
	height: 30px;
	width:100%;
	font-size:20px !important;
}

.pink-btn{
	color: #F83CA4 !important;
	border-color: #F83CA4 !important;;
	background-color: #FFEDF7 !important;;
}

.wellshopitem{
	position: relative;
	min-height: 720px;
	width:100%;
	float: left;
	padding: 0px;
	margin-bottom: 20px;
	margin-right: 2%;
	background-color: rgba(255,255,255,0);
	border: 1px solid #CBCBCB !important;
	border-radius: 4px;
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
	blockquote {
	  border-color: #CBCBCB;
	}
}

.wellinside{
	padding: 19px;
	display:inline-block;
}

button{
	background-color: transparent !important;
	margin: 3px !important;
}

.pricetag{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-image: url("/images/hintergrundbild-button.png");
	background-repeat: repeat-x;
	border-radius: 4px;
}

.price{
	padding-top:22px;
	padding-bottom:22px;
	padding-left:0px;
	text-align: center;
	font-size:16px;
	color:#F83CA4;
	font-weight: bold;
}

.kein-arzneimittel{
	position: absolute;
	left: 0;
	bottom: 70px;
	width: 100%;
	color:green;
	text-align: center;
}

.pricetag-lg {
    border-radius: 6px;
}

.pricetag-sm {
    border-radius: 3px;
}

.wellshopitem-lg {
  padding: 24px;
  border-radius: 6px;
}
.wellshopitem-sm {
  padding: 9px;
  border-radius: 3px;
}

.clearline{
	clear: both;
}

.dontshow{
	display:none;
}

.fixedfooter {
   position:fixed;
   left:0px;
   bottom:0px;
   padding:1%;
   padding-top:0;
   height:82px;
   width:100%;
   background:white;
}

.btn-primary {
  background-color: #428bca !important;
}

.snip-product__thumbnail {
    position:relative;
}

.snip-product__thumbnail img {
    max-height: 100% !important;  
    max-width: 100% !important; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto !important;
}



