@import "compass";
@import "elements/header";
@import "elements/content";

$navbar-default-bg: #F83CA4;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
 	-ms-border-radius: $radius;
	border-radius: $radius;
}

h1{
	font-size: 23px !important;
	margin-top: 0px !important;
}

h2{
	font-size: 20px !important;
	margin-top: 0px !important;
}

h3{
	font-size: 17px !important;
	margin-top: 0px !important;
}

h4{
	font-size: 14px !important;
	margin-top: 0px !important;
}

.success_story_images{
    margin-left: auto;
    margin-right: auto;
}

div.detailed_institute_info p{
	margin:0px;
}

#institutes_map{
	position: relative;
}

#institutes_map img{
	display: inline-block;
}

#institutes_map a{
	position: absolute;
	top:0px;
	left:0px;
	font-size: 5px;
	text-decoration: none;
	color: #F83CA4;	
}

#institute_subnavigation a{
	//line-height:40px;
	//margin-right:5em
}

@media only screen and (max-width : 480px) {
	.nav > li > a{
		padding: 10px 5px !important;
	}
}

@media only screen and (min-width : 480px) {
	#institutes_map a{
		font-size: 7px;
	}
}

@media only screen and (min-width : 768px) {
	#institutes_map a{
		font-size: 9px;
	}
	#institute_subnavigation a{
		margin: 0px 0px;
	}
}

@media only screen and (min-width : 992px) {
	#institutes_map a{
		font-size: 11px;
	}
}

.tooltipsy{
    padding: 5px 10px;
    max-width: 200px;
    color: white;
    //background-color: #f5f5b5;
	background-color: $navbar-default-bg;
    border: 1px solid darken($navbar-default-bg, 12%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-shadow: none;
	@include border-radius(5px);
}

#sidebar{
	position: relative;
}

#bs-example-navbar-collapse-1 a{
	font-size: 16px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.dropdown-menu a{
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: 1.42857 !important;
}

#logo_img{
	//margin-top: 30px;
	margin-top: 0px;
}

.navbar{
	margin-bottom: 0px !important;
}

.navbar-toggle{
	margin-right: 0px !important;
	//background-color: white !important;
}

.thumbnail{
	background-color: transparent !important;
	padding: 10px !important;
}

.image_with_background{
    border: 1px solid #CBCBCB;
	padding: 10px;
	@include border-radius(5px);
}

.pink_text{
	color:$navbar-default-bg;
}

.round-corner-table{
	@include border-radius(7px);
}

#lightbox {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
}

#lightbox img {
  max-width: 100%;
  max-height: 100%;
}

#lightbox p {
  background-color: $navbar-default-bg;
  color: #fff;
}

//Correction to strengthen boarder of nav
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-width: 1px !important;
    border-color: #DDD #DDD transparent !important;
}

.nav-tabs > li {
    margin-bottom: -1px !important;
}

.nav-tabs {
    border-bottom: 1px solid #DDD !important;
}

.nav-pills{
	overflow-x:hidden;
	white-space:nowrap; 
}
.nav-pills a{
	font-size: 15px;
}

.nav-pills li:first-child a{
	padding-left:0px !important;
}

.nav-pills li:last-child a{
	padding-right:0px !important;
}

.navbar-nav.nav-justified > li{
    float:none;
}

ul.dropdown-menu{
	text-align: center;
}

input.form-control{
	margin-bottom:15px;
}

form.form-horizontal{
	padding:20px;
	border: 1px solid #CBCBCB;
	@include border-radius(5px);
}

legend{
	font-size: 14px !important;
	color: #F83CA4 !important;
	border-bottom: 1px solid #F83CA4 !important;
}

#column{
   -webkit-column-count: 3;
      -moz-column-count: 3;
           column-count: 3;

   -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
           column-gap: 30px;
}