---
title: Page non trouvée
---
{% extends layouts/simple %}

{% block 'content' %}
.jumbotron
  %h1 Nous sommes désolés mais nous n'avons pas pu trouver la page que vous avez demandée.
{% endblock %}
