---
title: Willkommen
published: true
handle: home
editable_elements:
  "content/institutes_title": "Uber 50 Institute in Ihrer Nahe"
  "content/methology_title": "Abnehmen mit Paramediform"
  "content/scinence_title": "Wissenschaftliche Hintergründe"
---
{% extends layouts/simple %}

{% block header %}
{{ 'map.js' | javascript_tag }}
{{ 'jquery.activity-indicator.min.js' | javascript_tag }}
{% endblock %}

{% block content %}

/ Find a random institute with valid successstory
/{% assign institute = contents.institutes.all | sample: 1 %}
{% assign institutes = contents.institutes.all | sample: 20 %}
{% assign institute = "" %}

{% for possibleinstitute in institutes %}
{% if institute == "" %}
{% capture url %}{{ possibleinstitute.url }}/success-stories/random.json{% endcapture %}
{% consume data from url %}
{% assign success_story = data.success_story %}
{% endconsume %}
{% if success_story.prename != null %}
{% assign institute = possibleinstitute %}
{% endif %}
{% endif %}
{% endfor %}


{% comment %}
//{% capture geocoding %}http://maps.googleapis.com/maps/api/geocode/json?address=Schanzweg-7-5000-Aarau{% endcapture %}
//{% consume data from geocoding %}
//{% assign geo_adress = data.results %}
//{% endconsume %}
//{{ geo_adress.first.geometry.location.lng }}{{ geo_adress.first.geometry.location.lng }}
{% endcomment %}
.row
  .col-sm-12.col-xs-12
    %h3 {{ success_story.prename | append: " " | append: success_story.name | append: " aus " | append: success_story.place | append: " -" | append: success_story.lost_weight | append: " Kg" }}:
    %a.non-link-style{ href: "{% path_to institute, with: institute_success_stories %}?slug={{ success_story.slug }}&page={{ params.page }}" }
      {% include before_after_front %}

  .col-sm-12.col-xs-12
    %h3 {% editable_text institutes_title, format: "raw", line_break: false, rows: 1 %}Über 50 Institute in Ihrer Nähe{% endeditable_text %}
    .thumbnail
      .text-center#institutes_map{:style => "position:relative"}
        %img.img-responsive#institutes_map_img{ src: "{{ 'map.png' | theme_image_url }}" }
        %span.text-center#indicator{:style => "position:absolute"}
        %br
        %br
        {% for map_institute in contents.institutes %}
        %a{ href: '{% path_to map_institute, with: institute_success_stories %}', title: '{{ map_institute.name }}', breit: '{{ map_institute.breitengrad }}', laeng: '{{ map_institute.laengengrad }}' }
          .glyphicon.glyphicon-asterisk
        {% endfor %}
	




{% endblock %}
