---
title: Willkommen
published: true
handle: home
---
{% extends layouts/simple %}

{% block head_files %}
{{ 'map.js' | javascript_tag }}
{{ 'jquery.activity-indicator.min.js' | javascript_tag }}
{% endblock %}

{% block content %}

{% assign success_story = contents.success_stories.first %}
{% assign years = now | date: "%Y" | minus: 1992 %}

{% with_scope published_at.lt: today + 1 %}
{% assign recipy_news = contents.news %}
{% assign news_count = 0 %}
{% for newsitem in recipy_news %}
{% if newsitem.recipe.activity.attr == "sichtbar" %}
{% assign news_count = news_count | plus: 1 %}
{% endif %}
{% endfor %}
{% assign randomized_count = now | localized_date: '%S' | modulo: news_count | plus: 1 %}
{% assign news_count = 0 %}
{% for newsitem in recipy_news %}
{% if newsitem.recipe.activity.attr == "sichtbar" %}
{% assign news_count = news_count | plus: 1 %}
{% if news_count == randomized_count %}
{% assign this_news = newsitem %}
{% endif %}
{% endif %}
{% endfor %}
{% endwith_scope %}

{% assign recipy_image = this_news.recipe.image.url %}
{% assign success_story = contents.success_stories.all | shuffle | first %}
%h1.text-center {{ 'page_home_title' | t: years: years, size: contents.institutes.size }}
%br
.columnize3col
  .row
    .col-xs-12
      %p {% editable_text "Kurze Einführung zu Paramediform", format: "html" %}{% endeditable_text %} Lesen Sie hier mehr zu unserer <a href="abnehmen/die-methode">Methode</a> zum <a href="abnehmen">Abnehmen</a>
%br
.row
  .col-sm-8.col-xs-12
    .row
      .col-sm-6.col-xs-6
        {% capture url %}{% editable_text "individual_advice_url", line_break: false, format: 'raw', rows: 1 %}/abnehmen/individuelle-beratung{% endeditable_text %}{% endcapture %}
        %a{ href:'{{ url }}'}
          .thumbnail{:style => "margin-bottom:5px !important"}
            %img.img-responsive{ src: "{{ 'Beratung_web.jpg' | theme_image_url | resize: '400x400#' }}" }
          .fixed_title
            %h3 {{ 'page_home_individual_advice_title' | t }}

      .col-sm-6.col-xs-6
        .thumbnail{:style => "margin-bottom:5px !important"}
          %a#rezepturl{ href: "{% path_to news %}?slug={{ this_news._slug }}&type=recipe" }
            %img.img-responsive#rezeptbild{ src: "{{ recipy_image | resize: '400x400#' }}"}
        .fixed_title
          %h3 {{ 'page_home_eat_title' | t }}
    %br
    .row
      .col-sm-6.col-xs-6
        %div
          .thumbnail{:style => "margin-bottom:5px !important"}
            %a#success_link.non-link-style{ href: "{% path_to system_success_story %}" }
              %img#before_img{ src: '{{ success_story.before_image.url | resize: "200x400" }}', :style => "float:left;max-width:50%" }
              %img#after_img{ src: '{{ success_story.after_image.url | resize: "200x400" }}', :style => "float:left;max-width:50%" }
            .clearfix
        .fixed_title
          %h3#success_text {{ success_story.prename | append: " " | append: success_story.name | append: " aus " | append: success_story.place | append: " -" | append: success_story.lost_weight | append: " kg" }}
      .col-sm-6.col-xs-6
        {% capture url %}{% editable_text "metabolic_types_url", line_break: false, format: 'raw', rows: 1 %}/abnehmen/stoffwechseltypen{% endeditable_text %}{% endcapture %}
        %a{ href:'{{ url }}'}
          .thumbnail{:style => "margin-bottom:5px !important"}
            %img.img-responsive{ src: "{{ 'stoffwechseltypen.png' | theme_image_url | resize: '400x400#' }}" }
        .fixed_title
          %h3 {{ 'page_home_metabolic_type_title' | t }}
    %br
  .col-sm-4.col-xs-12
    {% with_scope order_by: 'published_at desc', published_at.lt: today, tags: 'wichtig' %}
    {% include news_important %}
    {% endwith_scope %}
  .col-sm-12.col-xs-12
    .text-center#institutes_map{:style => "position:relative;display:none"}
      %img.img-responsive#institutes_map_img{ src: "{{ 'map.png' | theme_image_url }}" }
      %span.text-center#indicator{:style => "position:absolute"}
      %br
      %br
      {% for map_institute in contents.institutes %}
      %a{ href: '{% path_to map_institute %}', title: '{{ map_institute.name }}', breit: '{{ map_institute.breitengrad }}', laeng: '{{ map_institute.laengengrad }}', :style => "font-size:7px" }
        .glyphicon.glyphicon-asterisk
      {% endfor %}
    .dropdown
      %button.pink-btn.btn.btn-default.dropdown-toggle{ :style => "width:100%", type: "button", id: "dropdownMenu1", data: {toggle: "dropdown"}}
        %h3.text-center{:style => "margin-bottom:0"} {% editable_text "Institute Titel", format: "raw", line_break: false, rows: 1 %}Institute ganz in Ihrer Nähe <span class="caret"></span>{% endeditable_text %}
      %ul.dropdown-menu{:style => "margin-left:auto;margin-right: auto;left: 0;right: 0;", role: "menu", aria: {labelledby: "dropdownMenu1"}}
        {% with_scope order_by: 'name asc' %}
        {% for institut in contents.institutes %}
        %li{role: "presentation"}
          %a{ href: '{% path_to institut, with: institute_home %}', role: "menuitem", tabindex: "-1" } {{ institut.name }}
        {% endfor %}
        {% endwith_scope %}
    %br
    %a{ href: '{% path_to contact_form %}', :id => "sidebar_contact" }
      .contact.well
        %h3.text-center
          {{ 'sidebar_contact_title' | translate }}
        %h2.text-center{:style => "color:black;text-decoration: none;font-size:27px !important"}
          %span.glyphicon.glyphicon-earphone{:style => "text-decoration: none"}
          %span.glyphicon.glyphicon-envelope{:style => "text-decoration: none"}

    {% capture url %}{% editable_text "sidebar_education_url", line_break: false, format: 'raw', rows: 1 %}/unternehmen/selbststaendigkeit{% endeditable_text %}{% endcapture %}
    %a{ href: '{{ url }}' }
      .news.well
        %h3.text-center
          {{ 'sidebar_education_title' | translate }}
        .text-center
          %img{ src: "{{ 'sidebar_selbststandigkeit.png' | theme_image_url | resize: 'x100' }}", style: 'height: 50px', alt: "{{ 'sidebar_education_image_alt' | t }}" }

    {% capture url %}{% editable_text "sidebar_education_url", line_break: false, format: 'raw', rows: 1 %}/produkte/paravita{% endeditable_text %}{% endcapture %}
    %a{ href: '{{ url }}'}
      .institutes.well
        %h3.text-center
          {{ 'sidebar_paravita_title' | translate }}
        .text-center
          %img{ src: "{{ 'sidebar_paravita.png' | theme_image_url | resize: 'x100' }}", style: 'height: 50px', alt: "{{ 'sidebar_paravita_image_alt' | t }}" }

    %a{ href: 'http://www.parapan.ch'}
      .institutes.well
        %h3.text-center
          {{ 'sidebar_parapan_title' | translate }}
        .text-center
          %img{ src: "{{ 'sidebar_parapan_brot.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "{{ 'sidebar_parapan_image_alt' | t }}" }

    {% capture url %}{% editable_text "sidebar_method_url", line_break: false, format: 'raw', rows: 1 %}/abnehmen/die-methode{% endeditable_text %}{% endcapture %}
    %a{ href: '{{ url }}'}
      .institutes.well
        %h3.text-center
          {{ 'sidebar_method_title' | translate }}
        .text-center
          %img{ src: "{{ 'sidebar_methode.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "{{ 'sidebar_method_image_alt' | t }}" }

    %a{ href: '{% path_to news %}' }
      .news.well
        %h3.text-center
          {{ 'sidebar_news_title' | translate }}
        .text-center
          %img{ src: "{{ 'sidebar_news.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "{{ 'sidebar_news_image_alt' | t }}" }

//%p{style: "margin-left:170px"} Tipp: Wählen Sie Ihr Institut entweder auf der Landkarte aus, oder verwenden Sie die alphabetische geordnete Liste links.
%br

{% endblock %}
