---
title: Willkommen
published: true
handle: home
editable_elements:
  "content/institutes_title": "Uber 50 Institute in Ihrer Nahe"
---
{% extends layouts/simple %}

{% block content %}

/ Find a random institute
{% assign institute = contents.institutes.all | sample: 1 %}

{% capture url %}{{ institute.url }}/{{ locale }}/success_stories/random.json{% endcapture %}
{% consume data from url %}
{% assign success_story = data.success_story %}
{% endconsume %}

.row
  .col-sm-6.col-xs-12
    %h4 {{ success_story.title }}
    .thumbnail
      .images
        %img.pull-left{ src: '{{ success_story.before_image.url | resize: "200x200#" }}' }
        %img{ src: '{{ success_story.after_image.url | resize: "200x200#" }}' }

  .col-sm-6.col-xs-12
    %h4 {% editable_text institutes_title, format: "raw", line_break: false, rows: 1 %}Uber 50 Institute in Ihrer Nahe{% endeditable_text %}


{% endblock %}