---
title: Institute
slug: institute
published: true
handle: institute
listed: true
position: 3
editable_elements:
  "content/main/success_stories_title": "Erfolgsgeschichten"
---
{% extends layouts/double-columns %}

{% block head_files %}
{{ 'map.js' | javascript_tag }}
{{ 'jquery.activity-indicator.min.js' | javascript_tag }}
{% endblock %}

{% block share_meta_tags %}
%meta{:content => "Erfolgsgeschichten: Wie schlank sein zur Gewohnheit wird.", :property => "og:title"}
%meta{:content => "website", :property => "og:type"}
%meta{:content => "http://{{ host }}{{ 'sidebar_vorhernachher.png' | theme_image_url }}", :property => "og:image"}
%meta{:content => "200", :property => "og:image:width"}
%meta{:content => "200", :property => "og:image:height"}
%meta{:content => "{{ url }}", :property => "og:url"}
%meta{:content => "ParaMediForm - Institut f체r Gesundheit, Wohlbefinden und Gewichtsabnahme", :property => "og:site_name"}
%meta{:content => "{{ page.seo_description }}", :property => "og:description"}
{% endblock %}


{% block content/main %}


.text-center#institutes_map{:style => "position:relative"}
  %img.img-responsive#institutes_map_img{ src: "{{ 'map.png' | theme_image_url }}" }
  %span.text-center#indicator{:style => "position:absolute"}
  %br
  %br
  {% for institut in contents.institutes %}
  %a{ href: '{% path_to institut, with: institute_home %}', title: '{{ institut.name }}', breit: '{{ institut.breitengrad }}', laeng: '{{ institut.laengengrad }}' }
    .glyphicon.glyphicon-asterisk
  {% endfor %}
.dropdown
  %button.pink-btn.btn.btn-default.dropdown-toggle{ :style => "width:100%", type: "button", id: "dropdownMenu1", data: {toggle: "dropdown"}}
    %h3.text-center{:style => "margin-bottom:0"} {% editable_text "Institute Titel", format: "raw", line_break: false, rows: 1 %}Institute ganz in Ihrer N채he <span class="caret"></span>{% endeditable_text %}
  %ul.dropdown-menu{:style => "margin-left:auto;margin-right: auto;left: 0;right: 0;", role: "menu", aria: {labelledby: "dropdownMenu1"}}
    {% with_scope order_by: 'name asc' %}
    {% for institut in contents.institutes %}
    %li{role: "presentation"}
      %a{ href: '{% path_to institut, with: institute_home %}', role: "menuitem", tabindex: "-1" } {{ institut.name }}
    {% endfor %}
    {% endwith_scope %}
%br

%a{name: "successstories"}
%h4 {% editable_text success_stories_title, format: "raw", line_break: false, rows: 1 %}Zuf채llig ausgew채hlte Erfolgsgeschichten{% endeditable_text %}

.row
  {% assign institutes = contents.institutes.all | shuffle | slice: 0, 10 %}
  {% for institute in institutes %}
  {% capture url %}{{ institute.url }}/success-stories/random.json{% endcapture %}
  {% consume data from url %}
  {% assign success_story = data.success_story %}
  {% endconsume %}
  {% if success_story.prename != null %}
  .col-sm-6.col-xs-6
    %a.non-link-style{ href: "{% path_to institute, with: institute_success_stories %}?slug={{ success_story.slug }}&page={{ params.page }}" }
      {% include before_after_overview %}
    %br
  {% endif %}
  {% endfor %}
{% include note %}
{% endblock %}
