---
title: Institute
published: true
handle: institutes
listed: true
position: 2
editable_elements:
  "content/main/success_stories_title": "Erfolgsgeschichten"
---
{% extends layouts/double-columns %}

{% block header %}
{{ 'map.js' | javascript_tag }}
{{ 'jquery.activity-indicator.min.js' | javascript_tag }}
{% endblock %}

{% block share_meta_tags %}
%meta{:content => "Erfolgsgeschichten: Wie schlank sein zur Gewohnheit wird.", :property => "og:title"}
%meta{:content => "website", :property => "og:type"}
%meta{:content => "http://{{ host }}{{ 'sidebar_vorhernachher.png' | theme_image_url }}", :property => "og:image"}
%meta{:content => "200", :property => "og:image:width"}
%meta{:content => "200", :property => "og:image:height"}
%meta{:content => "{{ url }}", :property => "og:url"}
%meta{:content => "ParaMediForm - Institut f체r Gesundheit, Wohlbefinden und Gewichtsabnahme", :property => "og:site_name"}
%meta{:content => "{{ page.seo_description }}", :property => "og:description"}
{% endblock %}


{% block content/main %}


.text-center#institutes_map{:style => "position:relative"}
  %img.img-responsive#institutes_map_img{ src: "{{ 'map.png' | theme_image_url }}" }
  %span.text-center#indicator{:style => "position:absolute"}
  %br
  %br
  {% for institute in contents.institutes %}
  %a{ href: '{% path_to institute, with: institute_success_stories %}', title: '{{ institute.name }}', breit: '{{ institute.breitengrad }}', laeng: '{{ institute.laengengrad }}' }
    .glyphicon.glyphicon-asterisk
  {% endfor %}
.dropdown{style: "position:absolute;z-index:2"}
  %button.pink-btn.btn.btn-default.dropdown-toggle{type: "button", id: "dropdownMenu1", data: {toggle: "dropdown"}}
    Liste aller Institute
    %span.caret
  %ul.dropdown-menu{role: "menu", aria: {labelledby: "dropdownMenu1"}}
    {% with_scope order_by: 'name asc' %}
    {% for institute in contents.institutes %}
    %li{role: "presentation"}
      %a{ href: '{% path_to institute, with: institute_success_stories %}', role: "menuitem", tabindex: "-1" } {{ institute.name }}
    {% endfor %}
    {% endwith_scope %}

%p{style: "margin-left:170px"} Tipp: W채hlen Sie Ihr Institut entweder auf der Landkarte aus, oder verwenden Sie die alphabetische geordnete Liste links.
%br

%a{name: "successstories"}
%h4 {% editable_text success_stories_title, format: "raw", line_break: false, rows: 1 %}Zuf채llig ausgew채hlte Erfolgsgeschichten{% endeditable_text %}

.row
  {% assign institutes = contents.institutes.all | sample: 20 %}
  {% for institute in institutes %}
  {% capture url %}{{ institute.url }}/success-stories/random.json{% endcapture %}
  {% consume data from url %}
  {% assign success_story = data.success_story %}
  {% endconsume %}
  {% if success_story.prename != null %}
  .col-sm-6.col-xs-12
    %a.non-link-style{ href: "{% path_to institute, with: institute_success_stories %}?slug={{ success_story.slug }}&page={{ params.page }}" }
      {% include before_after_overview %}
    %br
  {% endif %}
  {% endfor %}

{% endblock %}
