---
title: Abnehmen
slug: abnehmen
published: true
listed: true
handle: loseweight
position: 1
---
{% extends layouts/double-columns %}

{% block content/main %}
%div
  %h1{:style => "padding-left:0;padding-bottom:15px"} {% editable_text 'title', rows: 1, format: 'raw' %}Abnehmen{% endeditable_text %}
  %div{:style => "padding-bottom:30px;text-align: justify"}
    {% editable_text 'introduction' %}
    %p Richtig abnehmen? Gewusst wie! Für eine schlanke Figur braucht man oft erst mal gute Beweggründe: Der Job, der Lebenspartner, die gewünschte Lebenspartnerin oder die eigene Gesundheit kann Ansporn sein. Die Erfahrung von ParaMediForm zeigt: um Kilos abzunehmen muss der Stoffwechsel einwandfrei funktionieren. Auch in der Schweiz ist jeder Mensch ein Unikat weshalb jeweils eine individuelle Stoffwechselanalyse hilft, die eigene Gewichtsreduktion richtig anzugehen.
    {% endeditable_text %}

  %h2{:style => "padding-top:0px;padding-bottom:0;text-align: justify;"} {% editable_text 'tips', rows: 1, format: 'raw' %}Tipps zum Abnehmen{% endeditable_text %}
  .vspacer{:style => "text-align: justify"}
    {% editable_text 'tips_explanation', line_break: false %}
    %p Häufig wird Abnehmen mit Diäten oder Fasten gleichgesetzt. Diese Vorhaben sind meisst erfolglos oder bewirken einen Jojo -Effekt bei welchem man danach mehr Kilos auf den Rippen hat als zuvor. Um wirklich schlank zu werden ist eine professionelle Betreuung wie sie ParaMediForm anbietet zu empfehlen. Dennoch verraten wir hier einige generelle Tipps, welche Ihnen vermutlich bereits helfen könnten:
    {% endeditable_text %}

  .thumbnail.vspacer
    {% capture image_url %}{% editable_file 'tips_image' %}http://www.paramediform.ch/sites/5552fcd35918ada8a7001e1c/pages/5553455f5918ad5757005c7a/files/Spiegelei_2.jpg?1487673664{% endeditable_file %}{% endcapture %}
    .img-box
      %a{:href => "{{ image_url }}", :style => "padding:0px"}
        %img.img-responsive{:alt => "Tipps zum Abnehmen", :src => "{{ image_url | resize: '900x400#' }}"}/

  %h2{:style => "padding-top:0px;padding-bottom:0"} {% editable_text 'tips_1_title', format: 'raw', rows: 1 %}Tipp 1: Die richtige Ernährung{% endeditable_text %}
  .vspacer{ style: "text-align: justify" }
    {% editable_text 'tips_1_explanation' %}
    %p
      Die Ernährung soll ausgewogen sein, so dass der Körper alles bekommt was er benötigt um die Gewichtsreduktion erfolgreich zu meistern. Unterschiedliche <a href="/abnehmen/stoffwechseltypen">Stoffwechseltypen</a> reagieren.
    {% endeditable_text %}

  %h2{:style => "padding-top:0px;padding-bottom:0"} {% editable_text 'tips_2_title', format: 'raw', rows: 1 %}Tipp 2: Genügend Trinken{% endeditable_text %}
  .vspacer{ style: "text-align: justify" }
    {% editable_text 'tips_2_explanation' %}
    %p Wasser ist unser Lebenselixier, denn der Mensch besteht bekanntlich zu 70 % aus Wasser. Ohne genügend Wasser keine Gewichtsreduktion. Wasser hilft den Körper zu entgiften und baut die Übersäuerung ab. Wasser, Mineralwasser und Paratee sind ideale Begleiter. Insgesamt sollten 2.5 bis 4 Liter Flüssigkeit zu sich genommen werden. Ein Trinkplan über den Tag, kann hilfreich sein die nötige Menge einzuhalten.
    {% endeditable_text %}
  .thumbnail.vspacer
    .img-box
      {% capture image_url %}{% editable_file 'tips_2_image' %}http://www.paramediform.ch/sites/5552fcd35918ada8a7001e1c/pages/5553455f5918ad5757005c7a/files/tipps_zum_abnehmen.jpg?1487673664{% endeditable_file %}{% endcapture %}
      %a{:href => "{{ image_url }}", :style => "padding:0px" }
        %img.img-responsive{:alt => "Tipp 2: Genügend Trinken", :src => "{{ image_url | resize: '900x400#' }}"}/

  %h2{:style => "padding-top:0px;padding-bottom:0"} {% editable_text 'tips_3_title', format: 'raw', rows: 1 %}Tipp 3: Abnehmen im Schlaf{% endeditable_text %}
  .vspacer{:style => "text-align: justify;"}
    {% editable_text 'tips_3_explanation' %}
    %p Ein wirklich schöner Tipp nicht? Leider wird dies unter den gängigen Abnehmtipps oft gar nicht in Betracht gezogen. Zu wenig Schlaf kann mit der Zeit den Stoffwechsel verlangsamen und damit zu einer Gewichtszunahme führen. Für den Körper und für eine erfolgreiche Gewichtsabnahme ist ein geregelter Schlaf- Wachrhythmus sehr wichtig, weil sich in der Nacht die verschiedenen Organe regenerieren. Bekommt der Körper dafür zu wenig Zeit, kann es zu gesundheitlichen Problemen führen.
    {% endeditable_text %}
  .thumbnail.vspacer
    .img-box
      {% capture image_url %}{% editable_file 'tips_3_image' %}http://www.paramediform.ch/sites/5552fcd35918ada8a7001e1c/pages/5553455f5918ad5757005c7a/files/abnehmen_im_Schlaf.jpg?1487673664{% endeditable_file %}{% endcapture %}
      %a{:href => "{{ image_url }}", :style => "padding:0px"}
        %img.img-responsive{:alt => "Tipp 3: Abnehmen im Schlaf", :src => "{{ image_url | resize: '900x400#' }} "}/
  .vspacer{:style => "text-align: justify;"}
    {% editable_text 'tips_3_further_explanation' %}
    %p Werden am Abend fettige Speisen gegessen und Alkohol getrunken, wird die Leber in ihrer Regeneration gestört und wir erwachen um 3.00 Uhr und schlafen nur schlecht wieder ein. Unsere Tiefschlafphase (Schönheitsschlaf) findet zwischen 22.00 und 01.00 Uhr statt. Ein erwachsener Mensch benötigt sieben bis neun Stunden Schlaf um fit und gesund zu bleiben.
    %p Falls Sie in der Nacht erwachen und nicht mehr einschlafen können empfiehlt es sich erstens kein Handy anzurühren und zweitens ca. 10 Minuten aufs Sofa zu sitzen ohne jegliche Betätigung. Sie werden in kürzester Zeit wieder ganz schläfrig sein.
    {% endeditable_text %}

  %h2{:style => "padding-top:0px;padding-bottom:0"} {% editable_text 'tips_4_title', format: 'raw', rows: 1 %}Tipp 4: Spass am Essen{% endeditable_text %}
  .vspacer{:style => "text-align: justify;"}
    {% editable_text 'tips_4_explanation' %}
    %p Essen ist mehr als nur satt werden. Essen ist ein Stück Kultur, eine tägliche Freude, ein gesellschaftliches Ereignis. Dies ist der beste Tipp zum Abnehmen den wir Ihnen hier mitteilen. Nehmen Sie sich Zeit für jedes Essen, an einem schön gedeckten Tisch. Die Mahlzeit darf ruhig zelebriert werden, auch wenn man alleine isst.
    %p Mit dem richtigen  Mengenverhältnis gemäss Stoffwechselanalyse von ParaMediForm, sowie der richtigen Zusammensetzung der verschiedenen Lebensmittel zeigt der Körper sehr schnell Verbesserungen. So verschwinden Hungerattacken, Völlegefühl, Süssgelüste, Magenbeschwerden, Verstopfung sowie Schlafstörungen. Der gesamte Gesundheitsstatus verbessert sich.
    {% endeditable_text %}
  .thumbnail.vspacer
    {% capture image_url %}{% editable_file 'tips_4_image' %}http://www.paramediform.ch/sites/5552fcd35918ada8a7001e1c/pages/5553455f5918ad5757005c7a/files/abnehmen_spass_am_essen.jpg?1487673664{% endeditable_file %}{% endcapture %}
    .img-box
      %a{:href => "{{ image_url }}", :style => "padding:0px"}
        %img.img-responsive{:alt => "Tipp 4: Spass am Essen", :src => "{{ image_url | resize: '900x400#' }}"}/

  %h2{:style => "padding-top:0px;padding-bottom:0"} {% editable_text 'tips_5_title', format: 'raw', rows: 1 %}Tipp 5: Schlank dank Freude an Bewegung{% endeditable_text %}
  .vspacer{:style => "text-align: justify;"}
    {% editable_text 'tips_5_explanation' %}
    %p Bei der Bewegung ist es nicht zwingend nötig gleich einen Marathon zu laufen. Man kann das auch im Alltag einbauen und steigern, in dem man die Treppe benutzt an Stelle des Lifts oder zwei Busstationen früher aussteigt und den Rest zu Fuss geht. Im Büro nicht alles in Reichweite des Bürostuhls platzieren, denn Bewegung unterstützt nicht nur die Gewichtsreduktion, es vermindert auch Rückenprobleme.
    {% endeditable_text %}

  %h2{:style => "padding-top:0px;padding-bottom:0"} {% editable_text 'tips_6_title', format: 'raw', rows: 1 %}Tipp 6: Sich individuell beraten und betreuen lassen{% endeditable_text %}
  .vspacer{:style => "text-align: justify;"}
    {% editable_text 'tips_6_explanation' %}
    %p
      Die ParaMediForm
      %a{:href => "/ernaehrungsberatung", :title => "Ernährungsberatung"} Ernährungsberatung
      ist äusserst erfolgreich darin, Personen zu helfen, welche eigentlich bereits alles wissen und doch nicht richtig Abnehmen können. Zum Einen hilft die individuelle Stoffwechselanalyse besser über die eigene optimale Ernährungsform Bescheid zu wissen und zum Anderen bietet ParaMediForm mit Ihren erfahrenen Ernährungsberaterinnen und Ernährungsberatern die optimale Struktur, die maximale Betreuung sowie umfangreiche Hilfsmittel um erfolgreich das Gewicht reduzieren zu können.
    %blockquote
      %p{:style => "text-align: justify;"}
        %span{"data-mce-mark" => "1"} Bei uns können sogar diejenigen erfolgreich abnehmen, welche sich bereits aufgegeben haben.
    {% endeditable_text %}

  .paddingactive
    %h2 {% editable_text 'recipes_title', format: 'raw', rows: 1 %}Gesunde Rezepte zu Abnehmen Schweiz{% endeditable_text %}
    %div{:style => "text-align: justify;"}
      {% editable_text 'recipes_text' %}
      %p
        Erfolgreiche ParaMediForm Kunden berichten von einer Ernährungsumstellung welche Sie nachhaltig vollzogen haben. Dass eine solche Umstellung effektiv zum Abnehmen der übergewichtigen Kilos und ohne Jojo-Effekt wirkt, ist der Spass an der neuen Ernährungsform ganz zentral. ParaMediForm unterstützt Sie mit schmackhaften 
        %a{:href => "/aktuelles?tag=Rezept", :title => "Rezepte zum Abnehmen"}>
          %span Rezepten
         welche helfen Gefallen an der für Sie ermittelten Ernährungsumstellung zu finden.
      %br
      {% endeditable_text %}
{% endblock %}
