---
title: Aktuelles
slug: aktuelles
published: true
handle: news
listed: true
editable_elements:
  "content/sidebar/contact": "false"
---
{% extends layouts/double-columns %}

{% block content/main %}

.paddingbox
  %h2 Todo!


{% endblock %}
