---
title: Aktuelles
slug: aktuelles
published: true
handle: news
---
{% extends layouts/double-columns %}

{% block title %}
{% if params.slug %}
{% with_scope _slug: params.slug, published_at.lt: today + 1 %}
{% assign this_news = contents.news.first %}
{% endwith_scope %}
{% if this_news.interview %}
{% assign type = "Interview" %}
{% elsif this_news.recipe %}
{% assign type = "Rezept" %}
{% elsif this_news.illustrative_text %}
{% assign type = "Artikel" %}
{% if this_news.tags.first == "wichtig" %}
{% assign type = "Nachricht" %}
{% endif %}
{% endif %}
%title
  ParaMediForm - {{ type }} - {{ this_news.title }}
%meta{name: "keywords", content: "{{ site.meta_keywords }} {{ page.meta_keywords }} {{ type }} {{ this_news.tags | first }}"}/
{% elsif params.tag %}
%title
  ParaMediForm - {{ params.tag }} 
%meta{name: "keywords", content: "{{ site.meta_keywords }} {{ page.meta_keywords }} {{ params.tag }} "}/
{% else %}
%title
  ParaMediForm - Nachrichten zu Ernährung Gesundheit und Wissenschaft
%meta{name: "keywords", content: "{{ site.meta_keywords }} {{ page.meta_keywords }}"}/
{% endif %}
{% endblock %}

{% block description %}
{% if params.slug %}
{% with_scope _slug: params.slug, published_at.lt: today + 1 %}
{% assign this_news = contents.news.first %}
{% endwith_scope %}
{% if this_news.interview %}
{% assign person_name = this_news.interview.person.name %}
{% assign person_title = this_news.interview.person.title %}
{% assign text_title = this_news.title %}
{% assign text = this_news.text | truncatewords: 10 %}
%meta{name:"description", content:"Ein Interview mit {{ person_name }} {{ person_title }}: {{ text_title }} - {{ text }}"}/
{% elsif this_news.recipe %}
{% assign rezept_title = this_news.recipe.title %}
{% assign text = this_news.text | truncatewords: 15 %}
%meta{name:"description", content:"Schmackhaftes ParaMediForm Rezept: {{ rezept_title }} - {{ text }}"}/
{% elsif this_news.illustrative_text %}
{% assign article_title = this_news.illustrative_text.title %}
{% assign text = this_news.text | truncatewords: 20 %}
%meta{name:"description", content:"Ein Artikel zu {{ article_title }} - {{ text }}"}/
{% endif %}
{% else %}
{% if page.meta_description %}
%meta{name:"description", content:"{{ page.meta_description }}"}/
{% else %}
%meta{name:"description", content:"{{ site.meta_description }}"}/
{% endif %}
{% endif %}
{% endblock %}

{% block content/main %}

{% if params.slug and params.type %}

{% with_scope _slug: params.slug, published_at.lt: today + 1 %}
{% assign this_news = contents.news.first %}
{% endwith_scope %}

{% include news_header %}

{% if this_news.interview %}
{% include interview with news:this_news %}
{% assign type = "interview" %}
{% elsif this_news.recipe %}
{% include recipe with news:this_news %}
{% assign type = "recipe" %}
{% elsif this_news.illustrative_text %}
{% include illustrative_text with news:this_news %}
{% assign type = "illustrative_text" %}
{% else %}

/ # UNSUPPORTED
.well
  %h2 Nachricht konnte nicht gefunden werden.

{% endif %}
{% assign before_news = null %}
{% for news in contents.news %}
{% if news.after_news._slug == this_news._slug %}
{% assign before_news = news %}
{% endif %}
{% endfor %}


%hr
.row
  .col-sm-4.col-xs-12.text-center{:style => "height:100%;display:inline-block;"}
    {% if before_news != null %}
    {% if before_news.interview %}
    {% assign type = "interview" %}
    {% elsif before_news.recipe %}
    {% assign type = "recipe" %}
    {% elsif before_news.illustrative_text %}
    {% assign type = "illustrative_text" %}
    {% endif %}
    %div{:style => "margin-bottom:10px"}
      %ul.pager{:style => "{{pagerstyle}};display: inline" }
        %li
          %a{ href: "?slug={{ before_news._slug }}&type={{ type }}" } 
            %table
              %tr
                %td{:style => "padding-right:7px"} &larr;
                %td {{ before_news.title }}
    {% endif %}
  .col-sm-4.col-xs-12.text-center{:style => "height:100%  !important;display:inline-block !important;"}
    {% if this_news.main_tag != null %}
    %div{:style => "margin-bottom:10px"}
      %ul.pager{:style => "{{pagerstyle}}; display: inline" }
        %li
          %a{ href: "{{ path }}?tag={{ this_news.main_tag }}" } {{ "button_back" | translate }}
    {% endif %}
  .col-sm-4.col-xs-12.text-center{:style => "height:100%;display:inline-block;"}
    {% if this_news.after_news != null %}
    {% if this_news.after_news.interview %}
    {% assign type = "interview" %}
    {% elsif this_news.after_news.recipe %}
    {% assign type = "recipe" %}
    {% elsif this_news.after_news.illustrative_text %}
    {% assign type = "illustrative_text" %}
    {% endif %}
    %div{:style => "margin-bottom:10px"}
      %ul.pager{:style => "{{pagerstyle}}; display: inline" }
        %li
          %a{ href: "?slug={{ this_news.after_news._slug }}&type={{ type }}" }
            %table
              %tr
                %td {{ this_news.after_news.title }}
                %td{:style => "padding-left:7px"} &rarr;
    {% endif %}
{% else %}

{% assign current_page = params.page | default: 1 %}
{% if params.tag == null %}
{% with_scope order_by: 'published_at desc', published_at.lt: today + 1 %}
{% include news_list %}
{% endwith_scope %}
{% else %}
{% with_scope order_by: 'published_at desc', published_at.lt: today + 1, tags: params.tag %}
{% include news_list %}
{% endwith_scope %}
{% endif %}

{% endif %}

{% endblock %}
