---
title: Aktuelles
slug: aktuelles
published: true
handle: news
---
{% extends layouts/double-columns %}

{% block content/main %}

{% if params.slug and params.type %}

{% with_scope _slug: params.slug, published_at.lt: today %}
{% assign this_news = contents.news.first %}
{% endwith_scope %}

{% include news_header %}

{% if this_news.interview %}
{% include interview with news:this_news %}
{% assign type = "interview" %}
{% elsif this_news.recipe %}
{% include recipe with news:this_news %}
{% assign type = "recipe" %}
{% elsif this_news.illustrative_text %}
{% include illustrative_text with news:this_news %}
{% assign type = "illustrative_text" %}
{% else %}

/ # UNSUPPORTED
.well
  %h2 Nachricht konnte nicht gefunden werden.

{% endif %}
{% assign before_news = null %}
{% for news in contents.news %}
{% if news.after_news._slug == this_news._slug %}
{% assign before_news = news %}
{% endif %}
{% endfor %}


%hr
.row
  .col-sm-4.col-xs-12.text-center{:style => "height:100%;display:inline-block;"}
    {% if before_news != null %}
    {% if before_news.interview %}
    {% assign type = "interview" %}
    {% elsif before_news.recipe %}
    {% assign type = "recipe" %}
    {% elsif before_news.illustrative_text %}
    {% assign type = "illustrative_text" %}
    {% endif %}
    %div{:style => "margin-bottom:10px"}
      %ul.pager{:style => "{{pagerstyle}};display: inline" }
        %li
          %a{ href: "?slug={{ before_news._slug }}&type={{ type }}" } 
            %table
              %tr
                %td{:style => "padding-right:7px"} &larr;
                %td {{ before_news.title }}
    {% endif %}
  .col-sm-4.col-xs-12.text-center{:style => "height:100%  !important;display:inline-block !important;"}
    {% if this_news.main_tag != null %}
    %div{:style => "margin-bottom:10px"}
      %ul.pager{:style => "{{pagerstyle}}; display: inline" }
        %li
          %a{ href: "{{ path }}?tag={{ this_news.main_tag }}" } {{ "button_back" | translate }}
    {% endif %}
  .col-sm-4.col-xs-12.text-center{:style => "height:100%;display:inline-block;"}
    {% if this_news.after_news != null %}
    {% if this_news.after_news.interview %}
    {% assign type = "interview" %}
    {% elsif this_news.after_news.recipe %}
    {% assign type = "recipe" %}
    {% elsif this_news.after_news.illustrative_text %}
    {% assign type = "illustrative_text" %}
    {% endif %}
    %div{:style => "margin-bottom:10px"}
      %ul.pager{:style => "{{pagerstyle}}; display: inline" }
        %li
          %a{ href: "?slug={{ this_news.after_news._slug }}&type={{ type }}" }
            %table
              %tr
                %td {{ this_news.after_news.title }}
                %td{:style => "padding-left:7px"} &rarr;
    {% endif %}
{% else %}

{% assign current_page = params.page | default: 1 %}
{% if params.tag == null %}
{% with_scope order_by: 'published_at desc', published_at.lt: today %}
{% include news_list %}
{% endwith_scope %}
{% else %}
{% with_scope order_by: 'published_at desc', published_at.lt: today, tags: params.tag %}
{% include news_list %}
{% endwith_scope %}
{% endif %}

{% endif %}

{% endblock %}
