---
title: Produkte
slug: produkte
published: true
handle: products
editable_elements:
  "content/sidebar/contact": "false"
---
{% extends layouts/double-columns %}

{% block content/main %}

.paddingbox
  %h2 Todo!


{% endblock %}