---
title: Results of search
published: true
listed: false
searchable: false
handle: search
---
{% extends layouts/double-columns %}

{% block content/main %}

{% if wagon %}

%h2.text-center
  We are sorry, no results found for "{{ params.q }}".
%br

{% paginate contents.indexed_contents by 10 %}
.media-list
  {% include 'search_item' with slug: contents.indexed_contents.first._slug, highlighted_title: '<em>locomotive</em>CMS', highlighted_content: 'Lorem <em>ipsum</em> lodor.' %}

  {% for content in paginate.collection %}
  {% include 'search_item' with slug: content._slug %}
  {% endfor %}

.text-center
  {% capture query_params %}&q={{ params.q | encode }}{% endcapture %}
  {% include pagination with pagination: paginate, other_params: query_params %}

{% endpaginate %}

{% else %}

{% if params.q == blank %}

%h2.text-center
  We are sorry, no results found.

%br

{% else %}

{% search_for params.q, per_page: 10, page: params.page %}

{% if search.total_entries == 0 %}

%h2.text-center
  We are sorry, no results found for "{{ params.q }}".

%br

{% else %}

{% assign page = params.page | default: 0 | plus: 0 %}

{% comment %}
%p {{ search.total_entries }}
%p {{ search.total_pages }}
%p {{ page }}
{% endcomment %}

.media-list
  {% for result in search.results %}
  {% include 'search_item' with slug: result._slug, highlighted_title: result.highlighted.title, highlighted_content: result.highlighted.content %}
  {% endfor %}

  {% comment %}
  %p.text-center
    {% if page > 0 %}
    %a.btn.btn-default{ href: "?page={{ params.page | minus: 1 }}&q={{ params.q }}" }
      Previous
    {% endif %}
    {% if search.total_pages > page %}
    %a.btn.btn-default{ href: "?page={{ params.page | plus: 1 }}&q={{ params.q }}" }
      Next
    {% endif %}
  {% endcomment %}

{% endif %}

{% endsearch_for %}

{% endif params_present%}

{% endif wagon %}

{% endblock %}
