---
title: Beispiel
slug: beispiel
published: true
handle: simple_text
editable_elements:
  "content/sidebar/contact": "false"
---
{% extends layouts/double-columns %}

{% block content/main %}

.paddingbox
  %h2 Abnehmen mit Gartenbohne
  %p Die Gartenbohne ist nur in Kulturform bekannt. Die ältesten Funde der Gartenbohne stammen aus Peru etwa 6000 v. Chr. und aus Chile etwa 2700 v. Chr. Die nächsten Funde sind aus der Zeit von 300 v. Chr. bis Christi Geburt, der Zeit der mittelamerikanischen Hochkulturen. Unter den Funden sind sowohl Samen, als auch Hülsen. Generell sind die Samen kleiner als die heutigen Samen, aber wesentlich variabler in Form, Farbe und Muster.
  .thumbnail
    .img-box
      %a{ href: "/samples/simpletext/sample_top.jpg", :style => "padding:0px" }
        %img.img-responsive{ src: "{{ '/samples/simpletext/sample_top.jpg' | resize: '900x200#' }}" }
  %p Die Gartenbohne war neben Kürbis und Mais die wichtigste Nahrungspflanze jener Zeit. Im Norden reichte der Anbau bis zum Sankt-Lorenz-Strom. Aus Florida stammen die ersten Beschreibungen aus dem Jahre 1539. Für die Indianer war die Bohne von grosser Bedeutung in der Ernährung. Bei den Inka war die Gartenbohne nach frühen spanischen Berichten die Nahrung der unteren Bevölkerungsschichten, während die Oberschicht die Mondbohne bevorzugte.
  .thumbnail
    .img-box{:style => "margin:0px"}
      %a{ href: "/samples/simpletext/sample_middle.jpg", :style => "padding:0px" }
        %img.img-responsive{ src: "{{ '/samples/simpletext/sample_middle.jpg' | resize: '900x200#' }}" }
  %p Nach Europa gelangte die Gartenbohne im 16. Jahrhundert. Sie verdrängte die bis dahin angebauten Bohnen, die Ackerbohne und die Kuhbohne ziemlich schnell. Heute ist die Gartenbohne eine weltweit bedeutende Nutzpflanze und nicht mehr weg zu denken aus unserer Küche.
  .thumbnail
    .img-box{:style => "margin:0px"}
      %a{ href: "/samples/simpletext/sample_bottom.jpg", :style => "padding:0px" }
        %img.img-responsive{ src: "{{ '/samples/simpletext/sample_bottom.jpg' | resize: '900x200#' }}" }
  %p Die Samen der Gartenbohnen haben einen hohen Proteingehalt und enthalten eine Reihe von essentiellen Aminosäuren, das enthaltene Protein deckt aber nicht alle essentiellen Aminosäuren ab. Sie haben auch grösser Mengen an Mineralstoffen wie Kalzium, Kalium, Magnesium und Eisen auf Lager, sowie die Vitamine B2, B6, C, E, Provitamin A, und Folsäure. Das Vitamin C unterstützt die Aufnahme des enthaltenen Eisens.
{% endblock %}