---
title: Double columns
published: false
handle: double_columns_layout
---
{% extends layouts/simple %}

{% block content %}

.row
  .col-sm-9.col-xs-12
    #main
      {% block main %}
      {% endblock %}

  .col-sm-3.col-xs-12
    #sidebar
      {% block sidebar %}

      / contact block
      {% capture enable_contact %}{% editable_control "contact", options: "true=Yes,false=No", hint: "Tell if the contact block in the sidebar is displayed or not %}true{% endeditable_control %}{% endcapture %}
      {% if enable_contact == "true" %}
      .contact.well
        %h4.text-center
          %a{ href: '#' } {{ 'sidebar_contact_title' | translate }}
        %h4.text-center
          %span.glyphicon.glyphicon-earphone
          &nbsp;
          %span.glyphicon.glyphicon-envelope
      {% endif %}

      / institutes block
      {% capture enable_institutes %}{% editable_control "institutes", options: "true=Yes,false=No", hint: "Tell if the institutes block in the sidebar is displayed or not %}true{% endeditable_control %}{% endcapture %}
      {% if enable_institutes == "true" %}
      .institutes.well
        %h4.text-center
          %a{ href: '{% path_to institutes %}' } {{ 'sidebar_institutes_title' | translate }}
        .text-center
          IMAGE?
      {% endif %}

      / news block
      {% capture enable_news %}{% editable_control "news", options: "true=Yes,false=No", hint: "Tell if the news block in the sidebar is displayed or not %}true{% endeditable_control %}{% endcapture %}
      {% if enable_news == "true" %}
      .news.well
        %h4.text-center
          %a{ href: '{% path_to news %}' } {{ 'sidebar_news_title' | translate }}
        .text-center
          IMAGE?
      {% endif %}

      {% endblock %}

{% endblock %}