---
title: Double columns
published: false
handle: double_columns_layout
---
{% extends layouts/simple %}

{% block content %}

.row
  .col-sm-9.col-xs-12
    #main
      {% block main %}
      {% endblock %}

  .col-sm-3.col-xs-12
    #sidebar
      {% block sidebar %}
      %form{:action => '{% path_to search %}', :role => "search"}
        .form-group
          %input.form-control{name: 'q', :type => "text", :placeholder => "Wonach suchst du?"}
          //%button.btn.btn-default{:type => "submit"} Suchen

      / contact block
      {% capture enable_contact %}{% editable_control "contact", options: 'true=Yes,false=No', hint: "Tell if the contact block in the sidebar is displayed or not %}true{% endeditable_control %}{% endcapture %}
      {% if enable_contact == "true" %}
      %a{ href: '{% path_to contact_form %}' }
        .contact.well
          %h3.text-center
            {{ 'sidebar_contact_title' | translate }}
          %h3.text-center{:style => "color:black;text-decoration: none"}
            %span.glyphicon.glyphicon-earphone{:style => "text-decoration: none"}
            %span.glyphicon.glyphicon-envelope{:style => "text-decoration: none"}
        {% endif %}

      / institutes block
      {% capture enable_institutes %}{% editable_control "institutes", options: 'true=Yes,false=No', hint: "Tell if the institutes block in the sidebar is displayed or not %}true{% endeditable_control %}{% endcapture %}
      {% if enable_institutes == "true" %}
      %a{ href: '{% path_to institutes %}'}
        .institutes.well
          %h3.text-center
            {{ 'sidebar_institutes_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_institute.png' | theme_image_url | resize: 'x40' }}", style: 'height: 20px' }
      {% endif %}

      / selbststaendigkeit block
      {% capture enable_news %}{% editable_control "news", options: 'true=Yes,false=No', hint: "Tell if the news block in the sidebar is displayed or not %}true{% endeditable_control %}{% endcapture %}
      {% if enable_news == "true" %}
      %a{ href: '{% path_to news %}' }
        .news.well
          %h3.text-center
            {{ 'sidebar_selbststaendigkeit_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_selbststaendigkeit.png' | theme_image_url | resize: 'x60' }}", style: 'height: 30px' }
      {% endif %}

      / news block
      {% capture enable_news %}{% editable_control "news", options: 'true=Yes,false=No', hint: "Tell if the news block in the sidebar is displayed or not %}true{% endeditable_control %}{% endcapture %}
      {% if enable_news == "true" %}
      %a{ href: '{% path_to news %}' }
        .news.well
          %h3.text-center
            {{ 'sidebar_news_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_news.png' | theme_image_url | resize: 'x60' }}", style: 'height: 30px' }
      {% endif %}

      / share block
      {% capture enable_share %}{% editable_control "share", options: 'true=Yes,false=No', hint: "Tell if the share block in the sidebar is displayed or not %}true{% endeditable_control %}{% endcapture %}
      {% if enable_share == "true" %}
      .news.well
        %h3.text-center
          %a{ href: ''}
            {{ 'sidebar_share_title' | translate }}
        .text-center
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          .addthis_sharing_toolbox
      {% endif %}

      {% endblock %}

{% endblock %}
