---
title: Double columns
published: false
handle: double_columns_layout
position: 5
---
{% extends layouts/simple %}

{% block content %}

.row
  .col-sm-9.col-xs-12{ :style => "padding-left:0;padding-right:0"}
    #main
      {% block main %}
      {% endblock %}
      {% block sidebar %}

  .col-sm-3.col-xs-12
    #sidebar
      / snipcart summary block
      %div.fixedfooter.dontshow
        %a.warenkorb-style{:href => "#"}
          #snipcart-shop.shop.well{:style => "padding:5px"}
            %div{:style => "text-align: center;display:flex;align-items: center;justify-content: center;margin-left: auto;margin-right: auto"}
              .text-center{:style => "float:left"}
                %img{ src: "{{ 'warenkorb.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "Mineralstoffe kaufen" }
              .snipcart-summary.text-center{:style => "float:left;margin-left:40px"}
                %span.snipcart-total-items
                {{ 'layout_double_columns_cart_product' | t }}
                %br
                %span.snipcart-total-price

      %div.insidebar
        %a.warenkorb-style{:href => "#"}
          #snipcart-shop.shop.well
            .snipcart-spacer
            %h3.text-center.warenkorb-link-style
              {{ 'layout_double_columns_cart_title' | t }}
            .snipcart-spacer
            .text-center
              %img{ src: "{{ 'warenkorb.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "Mineralstoffe kaufen" }
            .snipcart-summary.text-center
              %span.snipcart-total-items
              {{ 'layout_double_columns_cart_product' | t }}
              %br
              %span.snipcart-total-price
            .snipcart-spacer

      / institutes block
      {% capture enable_institutes %}{% editable_control "Institute", options: 'true=Yes,false=No', hint: "Link zur Übersicht über alle Institute" %}true{% endeditable_control %}{% endcapture %}
      {% if enable_institutes == "true" %}
      %a{ href: '{% path_to institute %}'}
        .institutes.well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_institutes_title' | translate }}
          .text-center
            %img{ src: "{{ 'Ernaehrungsberatung_Schweiz.jpg' | theme_image_url | resize: 'x100' }}", style: 'height: 50px', alt: "{{ 'layout_double_columns_sidebar_institutes_image_alt' | t }}" }
      {% endif %}

      / contact block
      %a{ href: '{% path_to contact_form %}', :id => "sidebar_contact" }
        .contact.well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_contact_title' | translate }}
          %h2.text-center{:style => "color:black;text-decoration: none;font-size:27px !important"}
            %img{ src: "{{ 'sidebar_contact.png' | theme_image_url | resize: 'x100' }}", style: 'height: 50px', alt: "{{ 'layout_double_columns_sidebar_contact_image_alt' | t }}" }

      / selbststaendigkeit block
      {% capture enable_selbststaendigkeit %}{% editable_control "Selbststaendigkeit", options: 'true=Yes,false=No', hint: "Link zur Informationsseite zum Paramediform Ausbildung und Selbstständigkeit" %}false{% endeditable_control %}{% endcapture %}
      {% if enable_selbststaendigkeit == "true" %}
      {% capture url %}{% editable_text "sidebar_education_url", line_break: false, format: 'raw', rows: 1 %}/unternehmen/selbststaendigkeit{% endeditable_text %}{% endcapture %}
      %a{ href: '{{ url }}' }
        .news.well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_education_title' | translate }}
          .text-center
            %img{ src: "{{ 'Ernaehrungsberatung_Ausbildung.png' | theme_image_url | resize: 'x100' }}", style: 'height: 50px', alt: "{{ 'layout_double_columns_sidebar_education_image_alt' | t }}" }
      {% endif %}

      / paravita block
      {% capture enable_paravita %}{% editable_control "Paravita", options: 'true=Yes,false=No', hint: "Zeigt einen Link zu den Paravita Produkten an. " %}false{% endeditable_control %}{% endcapture %}
      {% if enable_paravita == "true" %}
      {% capture url %}{% editable_text "sidebar_education_url", line_break: false, format: 'raw', rows: 1 %}/produkte/paravita{% endeditable_text %}{% endcapture %}
      %a{ href: '{{ url }}'}
        .institutes.well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_paravita_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_paravita.png' | theme_image_url | resize: 'x100' }}", style: 'height: 50px', alt: "{{ 'layout_double_columns_sidebar_paravita_image_alt' | t }}" }
      {% endif %}

      / parapan block
      {% capture enable_parapan %}{% editable_control "Parapan", options: 'true=Yes,false=No', hint: "Zeigt einen Link zur Parapan Webseite an." %}false{% endeditable_control %}{% endcapture %}
      {% if enable_parapan == "true" %}
      %a{ href: 'http://www.parapan.ch'}
        .institutes.well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_parapan_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_parapan_brot.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "{{ 'layout_double_columns_sidebar_parapan_image_alt' | t }}" }
      {% endif %}

      / Methode block
      {% capture enable_methode %}{% editable_control "Methode", options: 'true=Yes,false=No', hint: "Zeigt einen Link zur Methode an." %}true{% endeditable_control %}{% endcapture %}
      {% if enable_methode == "true" %}
      {% capture url %}{% editable_text "sidebar_method_url", line_break: false, format: 'raw', rows: 1 %}/abnehmen/die-methode{% endeditable_text %}{% endcapture %}
      %a{ href: '{{ url }}'}
        .institutes.well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_method_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_methode.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "{{ 'layout_double_columns_sidebar_method_image_alt' | t }}" }
      {% endif %}

      / news block
      {% capture enable_news %}{% editable_control "Aktuelles", options: 'true=Yes,false=No', hint: "Link zur Seite Aktuelles" %}true{% endeditable_control %}{% endcapture %}
      {% if enable_news == "true" %}
      %a{ href: '{% path_to news %}' }
        .news.well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_news_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_news.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "{{ 'layout_double_columns_sidebar_news_image_alt' | t }}" }
      {% endif %}

      / vorhernachher block
      {% capture enable_beforeafter %}{% editable_control "Vorher/Nachher", options: 'true=Yes,false=No', hint: "Link zu Vorher/Nachher Bilder" %}true{% endeditable_control %}{% endcapture %}
      {% if enable_beforeafter == "true" %}
      %a{ href: '{% path_to system_success_story %}' }
        .news.well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_beforeafter_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_vorhernachher.png' | theme_image_url | resize: 'x120' }}", style: 'height: 60px', alt: "{{ 'layout_double_columns_sidebar_beforeafter_image_alt' | t }}" }
      {% endif %}

      / Kochbuch block
      {% capture enable_kochbuch %}{% editable_control "Kochbuch", options: 'true=Yes,false=No', hint: "Link zum Bestellen von Kochbuch" %}false{% endeditable_control %}{% endcapture %}
      {% if enable_kochbuch == "true" %}
      {% capture url %}{% editable_text "sidebar_cookbook_url", line_break: false, format: 'raw', rows: 1 %}/kaufen/kochbuch-zum-kaufen{% endeditable_text %}{% endcapture %}
      %a{ href: '{{ url }}' }
        .well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_cookbook_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_kochbuch.png' | theme_image_url | resize: 'x160' }}", style: 'height: 80px', alt: "{{ 'layout_double_columns_sidebar_cookbook_image_alt' | t }}" }
      {% endif %}

      / Kinder block
      {% capture enable_kinder %}{% editable_control "Kinderprogramm", options: 'true=Yes,false=No', hint: "Link zum Kinderprogramm Parolino" %}false{% endeditable_control %}{% endcapture %}
      {% if enable_kinder == "true" %}
      {% capture url %}{% editable_text "sidebar_kids_url", line_break: false, format: 'raw', rows: 1 %}/abnehmen/parolino-das-kinderprogramm{% endeditable_text %}{% endcapture %}
      %a{ href: '{{ url }}' }
        .well
          %h3.text-center
            {{ 'layout_double_columns_sidebar_kids_title' | translate }}
          .text-center
            %img{ src: "{{ 'sidebar_parolino.png' | theme_image_url | resize: 'x60' }}", style: 'height: 30px', alt: "{{ 'layout_double_columns_sidebar_kids_image_alt' | t }}" }
      {% endif %}

  {% endblock %}

{% endblock %}
