---
title: Freie Gestaltung
published: false
is_layout: true
---
{% extends layouts/double-columns %}
{% block content/main %}
{% editable_text "Frei gestaltbare Seite", format:html %}{% endeditable_text %}
{% endblock %}