---
title: Text Bild Illustration
published: false
is_layout: true
handle: multiple_text_image
editable_elements:
  "content/sidebar/contact": "false"
---
{% extends layouts/double-columns %}

{% block content/main %}

.textpadding
  {% include site_header %}
  - 2.times do |i|
    {% block "Widget_#{i + 1}" %}

    {% capture title %}{% editable_text title, format: raw %}
    Ganzheitliche Ernährung
    {% endeditable_text %}{% endcapture %}

    {% capture text %}{% editable_text text, format: html %}
    %p
      Jeder Mensch hat unterschiedliche Veranlagungen. Grundlagen aus wissenschalftlicher Auswertung unserer langjährig Erfahrungswerten
    {% endeditable_text %}{% endcapture %}

    {% capture image %}{% editable_file image %}/samples/titletextimage/individual.png{% endeditable_file %}{% endcapture %}

    {% include title_text_image with title: title, text: text, image: image %}

    {% endblock %}

  - 5.times do |i|
    {% block "Widget_#{i + 3}" %}
    {% capture title %}{% editable_text title, format: raw %}{% endeditable_text %}{% endcapture %}
    {% capture text %}{% editable_text text, format: html %}{% endeditable_text %}{% endcapture %}
    {% capture image %}{% editable_file image %}{% endeditable_file %}{% endcapture %}

    {% include title_text_image with title: title, text: text, image: image %}

    {% endblock %}

{% endblock %}
