---
title: Auflistung von Personen
published: false
is_layout: true
---
{% extends layouts/double-columns %}
{% block content/main %}

{% capture group %}{% editable_text "Gruppenzugehörigkeit", format: "raw", line_break: false, rows: 1 %}Hello{% endeditable_text %}{% endcapture%}
{% with_scope tags.in:group %}
{% assign people_in_group = contents.people %}
{% endwith_scope %}

.paddingbox
  %h1{:style => "padding-left:0"} {% editable_text "Titel der Gruppe", format: "raw", line_break: false, rows: 1 %}Gruppentitel{% endeditable_text %}
  {% editable_text "Gruppenbeschreibung" %}Hier wird beschrieben wie die Gruppe funktioniert und wie sie {% endeditable_text %}
  %br
  %ul.media-list
    {% for person in people_in_group %}
    .media
      .media-body
        .col-sm-12.col-xs-12
          .pull-left{:style => "margin-right:20px"}
            .img-box
              %a{ href: '{{ person.picture.url }}' }
                %img.img-responsive.media-object{ src: '{{ person.picture.url | resize: "130x180#" }}' }
                %br
          %h4.media-heading{:style => "padding-bottom:0;padding-top:18px"} {{ person.name }}
          {{ person.title }}
          %br
          {{ person.email }}
          {% if person.keynote != '' and person.keynote != null %}
          %hr{:style => "margin: 10px 0px"}
          %p{:style => "color:gray;margin-bottom:0px"} "{{ person.keynote }}"
          {% endif %}
    %hr
    {% endfor %}

{% endblock %}