---
title: Texte simple
published: false
is_layout: true
editable_elements:
  "content/sidebar/contact": "false"
position: 11
---
{% extends layouts/double-columns %}

{% block content/main %}

.paddingbox

  {% include text_header %}

  - 8.times do |i|
    {% block "Bild-Text-#{i + 1}" %}
    {% include text_image %}
    {% endblock %}

{% endblock %}
