---
title: Layout [DE]
published: false
handle: simple_layout
---
!!!
%html{lang: "{{ locale }}"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %title {{ site.name }}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=10", name: "viewport"}/
    //%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type: "text/javascript"}

    {{ 'jquery.js' | javascript_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
    {{ 'tooltipsy.js' | javascript_tag }}

    /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    {% inline_editor %}

  %body
    #header
      %div.relative_position
        %img.atmospereic{ src: "{{ 'background.png' | theme_image_url }}" }
      .container.relative_position{ :style => "width:100%"}		
        %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
          .container{ :style => "width:100%"}
            .navbar-header
              %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => 'collapse', :target => '#bs-example-navbar-collapse-1'}}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            .collapse.navbar-collapse#bs-example-navbar-collapse-1
              %ul.nav.navbar-nav
                %li.dropdown
                  %a.dropdown-toggle{ href: "#", :data => {:toggle => "dropdown"}}
                    {{ 'navigation_loose_weight' | translate }}
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      {% link_to home %}
                    %li
                      %a{ href: "{% path_to multiple_text_image %}" } Methode
                    %li
                      %a{ href: "{% path_to people_chart %}"} Systemzentrale
                    %li
                      %a{ href: "{% path_to simple_text %}"} Beispiel
                    %li.divider
                    %li
                      %a{ href: "#"} Separated link
                %li{ class: '{% if page.handle == "news" %}active{% endif %}' }
                  {% link_to news %}
                %li{ class: '{% if page.handle == "institutes" %}active{% endif %}' }
                  {% link_to institutes %}
              %form.navbar-form.navbar-right{:role => "search"}
                .form-group
                  %input.form-control{:type => "text", :placeholder => "Wonach suchst du?"}
                  //%button.btn.btn-default{:type => "submit"} Suchen

        %p.text-center
          %img.img-responsive#logo_img{ src: "{{ 'logo.png' | theme_image_url | resize: 'x140' }}" }

        {% block header %}
        {% endblock %}

      #content
        .container{ :style => "max-width:900px"}
          //%p.lead
          {% block content %}
          {% endblock %}

    :javascript
      $(document).ready(function() {
      });
