---
title: Layout [DE]
published: false
handle: simple_layout
position: 1
---
!!!
%html{lang: "{{ locale }}"}
  %head
    {% block api_call %}{% endblock %}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    {% block description %}
    {% if page.meta_description %}
    %meta{name:"description", content:"{{ page.meta_description }}"}/
    {% else %}
    %meta{name:"description", content:"{{ site.meta_description }}"}/
    {% endif %}
    {% endblock %}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    {% block title %}
    {% if page.seo_title %}{% assign seo_title = page.seo_title  %}{% else %}{% assign seo_title = site.seo_title  %}{% endif %}
    {% assign title_prep = seo_title | split: '->' | first %}
    {% if title_prep == "Spezialtitel" %}
    %title
      {{ seo_title | split: '->' | last }}
    %meta{name: "keywords", content: "{{ page.meta_keywords }}"}/
    {% else %}
    %title
      ParaMediForm - {% if page.name %}{{ page.name }}{% else %}{{ page.title }}{% endif %} - {{ seo_title }}
    %meta{name: "keywords", content: "{{ site.meta_keywords }}, {{ page.meta_keywords }}"}/
    {% endif %}
    {% endblock %}

    %meta{content: "width=device-width, initial-scale=1, maximum-scale=10", name: "viewport"}/
    //%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type: "text/javascript"}

    {% block share_meta_tags %}
    %meta{:content => "{{ page.seo_title }}", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "{{ 'Logo.png' | theme_image_url }}", :property => "og:image"}/
    %meta{:content => "{{ url }}", :property => "og:url"}/
    %meta{:content => "ParaMediForm - Institut für Gesundheit, Wohlbefinden und Gewichtsabnahme", :property => "og:site_name"}/
    {% endblock %}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    :javascript
      if (typeof jQuery === 'undefined') {
        document.write("<script src='{{ 'jquery.js' | javascript_url }}'>\x3C/script>");
      }

    %script{ "data-autopop" => "false", :src => "https://cdn.snipcart.com/scripts/2.0/snipcart.js", :id => "snipcart", :data => {:api => {:key => "{% if host == 'www.paramediform.ch' %}ZDkwNDkwYzQtZmUyYi00MjUyLWFhYzMtMGVkMTNjNzgwYzk1NjM2MTY4OTY3MDU3MTE2NDY3{% else %}YTZlYjUxNmMtMWM4Ny00NmZlLTlhOGItYzU2MjZiMzllZjAzNjM2MTY4OTY3MDU3MTE2NDY3{% endif %}"}}}

    {{ 'application.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'snipcart.css' | stylesheet_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'jquery.cookie.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
    {{ 'tooltipsy.js' | javascript_tag }}
    {% block head_files %}
    {% endblock %}
    {% block head_marked_language %}
    {% endblock %}

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75210020-1', 'auto');
      ga('send', 'pageview')

  :javascript
    !function(f,b,e,v,n,t,s)

    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1449014745152657');

    fbq('track', 'PageView');

  %noscript
    %img{:height => "1", :src => "https://www.facebook.com/tr?id=1449014745152657&ev=PageView\r\n&noscript=1", :width => "1"}/

  %body
    #header
      %div.relative_position
        /%img.atmospere{ src: "{{ 'hintergrundbild.png' | theme_image_url }}" }
      .container.relative_position{ :style => "max-width:750px"}
        %p.text-center
          %a{ href: "/index", :style => "text-decoration:none;color:black", :accesskey => "1" }
            %img#logo_img{ src: "{{ 'Logo.png' | theme_image_url | resize: '160x80#' }}", :style => "margin-top:30px", :alt => "Paramediform Logo - Gesundheit Wohlbefinden und Gewichtsabnahme" }
            %p.text-center{:style => "font-size:13px"} Abnehmen durch Ernährungsberatung von ParaMediForm
        %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
          .container{ :style => "width:100%;margin-top:10px;margin-bottom:20px"}
            .navbar-header
              %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => 'collapse', :target => '#bs-example-navbar-collapse-1'}}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            .collapse.navbar-collapse#bs-example-navbar-collapse-1
              %ul.nav.navbar-nav.nav-justified
                {% nav site, exclude: '^(layouts)', depth: 2, no_wrapper: true, bootstrap: true %}




      #content
        .container{ :style => "max-width:750px"}
          {% block content %}
          {% endblock %}

          {% include footer %}
