---
title: Template of an institute [DE]

# true if the page is published
published: true

# content type that this page is templatizing
content_type: institutes

listed: false

handle: institute_layout
---
{% extends layouts/double-columns %}

{% block header %}

{{ 'jquery.cookie.js' | javascript_tag }}
{{ 'institute.js' | javascript_tag }}

{% endblock %}

{% block content/main %}

{% capture url %}{{institute.url}}/index.json{% endcapture %}
{% consume data from url %}
{% assign information = data.information %}
{% endconsume %}


.row
  .col-sm-12.col-xs-offset-0.col-xs-12
    %h1.title Institut {{ institute.name }}
    #contact_info
      %p.text-center.image_with_background
        %img.img-responsive{ src: "http://maps.google.com/maps/api/staticmap?center={{institute.breitengrad}},{{institute.laengengrad}}&maptype=terrain&zoom=16&size=650x200&markers=color:0xF83CA4|{{institute.breitengrad}},{{institute.laengengrad}}", :id => "google_map" }
      .row.detailed_institute_info
        .col-sm-4.col-xs-12.col-md-4
          %p {{ information.name }}
          %p {{ information.street }}
          %p {{ information.city }}
        .col-sm-4.col-xs-12.col-md-4
          %ul.pager{:style => "margin-top:0px;margin-bottom:0px" }
            %li
              %a{ href: "", :id => "zoom-out" }
                %b -
            %li
              %a{ href: "", :id => "zoom-in" }
                %b +
        .col-sm-4.col-xs-12.col-md-4
          .text-right
            %p {{ "label_phone" | translate }} {{ information.phone }}
            %p {{ "label_fax" | translate }} {{ information.fax }}
            %p {{ information.email }}

%br

.row
  .col-sm-12.col-xs-offset-0.col-xs-12
    %ul.nav.nav-tabs
      {% fetch_page institute_layout as root_page %}

      /%li{ class: "{% if page.handle == 'institute_layout' %}active{% endif %}" }
      /  %a{ href: "{% path_to institute %}" } {{ "menu_institute_success_stories" | translate }}

      {% for _page in root_page.children %}
      {% if _page.listed? and _page.published? %}
      %li{ class: "{% if page.fullpath == _page.fullpath %}active{% endif %}" }
        %a{ href: "{% path_to institute, with: institute_layout %}/{{ _page.original_slug }}" } {{ _page.original_title }}
      {% endif %}
      {% endfor %}

    .tabbable
      .tab-content
        .tab-pane.active
          %br
          {% block tab_pane %}
          {% endblock %}

{% endblock %}