development:
  corporate_url: 'http://pmf.locomotivehosting.dev:3000'
  engine_api_key: '0f73b4fb54a5e1a892e28a5ed8347e73f2c2ca4b'

  twitter:
    consumer_key: 'ngx8MC32H8BIIIAs0tozedoDv'
    consumer_secret: '3G1FxlCnHZyAagstyZXAYBIYcVYHcE05fUtxuYZiHJo7mXcrt3'
    access_token: '2905147655-S9L5cbfMyr08al64aujPQ9XCYhiMc1NyZ8lXyJv'
    access_token_secret: 'nVBDumQwjL64BS9xw7GX544hbAaBW5eWR1M2dnUrft5b0'

production:
  corporate_url: 'https://pmf.locomotivehosting.com'
  engine_api_key: '<your key>'
